<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
<block name="title"></block>
    <link rel="stylesheet" href="__PUBLIC__/home/libs/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="__PUBLIC__/home/css/custom.css">
<block name="css"></block>
</head>
<body>
<block name="main"></block>
</body>
    <script src="__PUBLIC__/home/libs/jquery/dist/jquery.min.js"></script>
    <script src="__PUBLIC__/Home/layer/layer.min.js" type="text/javascript"></script>
    <script src="__PUBLIC__/Home/libs/angular/angular.js" type="text/javascript"></script>
    <script src="__PUBLIC__/home/libs/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="__PUBLIC__/Home/js/app.js" type="text/javascript"></script>
    <script type="text/javascript">
        $("#erweimaqq").hover(function() {
            $("#erweima").attr("src","__PUBLIC__/home/img/erweima.png");
            $("#erweima").show();
        },
            function(){
            $("#erweima").hide();
        });
        $("#erweimawx").hover(function() {
            $("#erweima").attr("src","__PUBLIC__/home/img/erweima.png");
            $("#erweima").show();
        },
            function(){
            $("#erweima").hide();
        });
        $("#erweimawb").hover(function() {
            $("#erweima").attr("src","__PUBLIC__/home/img/erweima.png");
            $("#erweima").show();
        },
            function(){
            $("#erweima").hide();
        });
    </script>   
<block name="js"></block>
</html>
