<extend name="tpl:base" />
<block name="title">
    <title>{$drive.drivesName}</title>
    <meta name="keywords" content="{$drive['drivesKeywords']}" />
    <meta name="description" content="{$drive['drivesSpec']}" />
</block>
<block name="css"></block>
<block name="main">
<div ng-app="myapp" ng-controller="driveCtrl">
    <nav class="navbar navbar-default header_subpage">
        <include file="tpl:comnav" />
    </nav>
    <div class="d_content">
        <div class="d_head">
            <input type="hidden" id="drivesId" value="{$drivesId}" />
            <input type="hidden" id="daytime" value="{$daymtime}" />
            <div class="d_intro">
                <div class="d_img">
                    <img src="/{$drive.pcDrivesImg}" alt="">
                </div>
                <div class="d_introduce">
                    <div class="d_intrl">
                        <p>
                            <span class="d_intrlt">{$drive.drivesName}</span>
                            <span class="d_intrld">{$drive.drivesDay}</span>
                        </p>
                        <p><span class="d_place">{$drive.drivesFrom}</span></p>
                    </div>
                    <div class="d_intrr">
                        <p>
                        <empty name="drive.tp">
                        <span id="drivesType"></span>&nbsp;&nbsp;
                        <span id="tpadultPrice">{$drive['adultPrice']}</span>&nbsp;元/人
                        <else />
                        <span id="drivesType">{$drive['tp']['drivesType']}</span>
                        <span id="tpadultPrice">{$drive['tp']['adultPrice']}</span>&nbsp;元/人
                        </empty>
                        </p>

                    </div>
                </div>
            </div>
        </div>
        <div class="d_form">
            <div class="selectdate">
                <div class="datemonth">
                    <a onclick="preMonth()">
                        <div class="monthlast">
                            <span class="glyphicon glyphicon-menu-left"></span>
                        </div>
                    </a>
                    <div class="selectyear">
                        <span id="currentMonth">&nbsp;</span>
                    </div>
                    <a onclick="nextMonth()">
                        <div class="monthnext">
                            <span class="glyphicon glyphicon-menu-right"></span>
                        </div>
                    </a>
                </div>
                <div class="dateday">
                    <div class="dateweek">日</div>
                    <div class="dateweek">一</div>
                    <div class="dateweek">二</div>
                    <div class="dateweek">三</div>
                    <div class="dateweek">四</div>
                    <div class="dateweek">五</div>
                    <div class="dateweek">六</div>
                </div>
                <div class="calendarprice" id="calendarprice">
                    <!-- 加载动画 -->
                    <div class="loadcalendarprice">
                          <div class="bounce1"></div>
                          <div class="bounce2"></div>
                          <div class="bounce3"></div>
                    </div>
                </div>
                <div class="calendarpricedesc">
                    <p>起价是按2位成人参加<span id="driveDateDay">{$daymtime}</span>出发的产品，并入住同一间房间的单人价格。</p>
                </div>
            </div>
            <div class="diverform">
                <div class="diverformlist">
                    <div class="df_left">行程天数：</div>
                    <div class="df_center" id="df_days">{$drive.drivesDay}</div>
                    <div class="df_right" id="df_buys">{$drive.solaCount}人已购买</div>
                </div>
                <HR style="FILTER: progid:DXImageTransform.Microsoft.Shadow(color:#987cb9,direction:145,strength:15);margin:0px;padding:0;" width="100%" color=#7D7D7D SIZE=1>
                <div class="diverformlist">
                    <div class="df_left">出发日期</div>
                    <div class="df_center">&nbsp;</div>
                    <div class="df_right" id="df_seldate">{$daymtime}</div>
                </div>
                <HR style="FILTER: progid:DXImageTransform.Microsoft.Shadow(color:#987cb9,direction:145,strength:15);margin:0px;padding:0;" width="100%" color=#7D7D7D SIZE=1>
                <div class="diverformlist">
                    <div class="df_left">成人</div>
                    <div class="df_center ">
                        <div class="input-group">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button">-</button>
                            </span>
                            <input type="text" class="form-control" id="manNum" value="0" readonly>
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button">+</button>
                            </span>
                        </div>
                    </div>
                    <div class="df_right">
                    <empty name="drive.tp">
                        <span id="selectAdultPrice">{$drive['adultPrice']}</span>&nbsp;元/人
                    <else />
                        <span>{$drive['tp']['adultPrice']}</span>&nbsp;元/人
                    </empty>
                    </div>
                </div>
                <HR style="FILTER: progid:DXImageTransform.Microsoft.Shadow(color:#987cb9,direction:145,strength:15);margin:0px;padding:0;" width="100%" color=#7D7D7D SIZE=1>
                <div class="diverformlist">
                    <div class="df_left">儿童</div>
                    <div class="df_center ">
                        <div class="input-group">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button">-</button>
                            </span>
                            <input type="text" class="form-control" value="0" readonly id="childNum">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button">+</button>
                            </span>
                        </div>
                    </div>
                    <div class="df_right"><span id="childPrice">{$drive.childPrice}</span>&nbsp;元/人</div>
                </div>
                <HR style="FILTER: progid:DXImageTransform.Microsoft.Shadow(color:#987cb9,direction:145,strength:15);margin:0px;padding:0;" width="100%" color=#7D7D7D SIZE=1>
                <div class="diverformlist">
                    <div class="df_left">房间数</div>
                    <div class="df_center ">
                        <div class="input-group">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button">-</button>
                            </span>
                            <input type="text" id="roomNum" class="form-control" value="8" readonly>
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button">+</button>
                            </span>
                        </div>
                    </div>
                    <div class="df_right" id="singleRoom" style="display: none;">单房差&nbsp;<span id="roomPrice">{$drive.homePrice}</span>&nbsp;元/人</div>
                </div>
                <HR style="FILTER: progid:DXImageTransform.Microsoft.Shadow(color:#987cb9,direction:145,strength:15);margin:0px;padding:0;" width="100%" color=#7D7D7D SIZE=1>
                <div class="diverformlist">
                    <div style="color:#1AD4D2;float:right;margin:0 50px;"></div>
                </div>
                <div class="diverformlist_sub">
                    <div id="df_price">
                        总价格:￥<span id="df_totelprice">0</span>&nbsp;元
                    </div>
                    <div id="df_submit">
                        <a href="orderdiver.html"><span>立即预定</span></a>
                    </div>
                    <p></p>
                </div>
            </div>
        </div>
        <div class="d_xcts">
            <div class="dx_left">
                <div class="xcmx">
                    <div class="xc_title">
                        <span>行程简介</span>
                        <div class="xc_title1">
                        </div>
                    </div>
                    <div class="xc_content">
                        <div id="xc_timeDesc">
                            <div class="item item-text-wrap">
                                <p>
                                    出发日期:&nbsp;&nbsp;<span>2016-07-09</span><span class="xcapgright">云南昆明</span>
                                </p>
                            </div>
                            <div class="item item-text-wrap">
                                <p>
                                    结束日期:&nbsp;&nbsp;<span>2016-07-11</span><span class="xcapgright">云南临沧</span>
                                </p>
                            </div>
                            <div class="xingchengPlan">
                                <div class="item item-text-wrap">
                                    <p>
                                        <span>临沧1</span><span class="xcapgright">临沧酒店1 </span>
                                    </p>
                                </div>
                                <div class="item item-text-wrap">
                                    <p>
                                        入住&nbsp;&nbsp;<span>2016-07-09</span><span class="xcapgright">2016-07-10</span><span class="xcapgright">离店&nbsp;&nbsp;</span>
                                    </p>
                                </div>
                            </div>
                            <div class="xingchengPlan">
                                <div class="item item-text-wrap">
                                    <p>
                                        <span>临沧2</span><span class="xcapgright">临沧酒店 2</span>
                                    </p>
                                </div>
                                <div class="item item-text-wrap">
                                    <p>
                                        入住&nbsp;&nbsp;<span>2016-07-10</span><span class="xcapgright">2016-07-11</span><span class="xcapgright">离店&nbsp;&nbsp;</span>
                                    </p>
                                </div>
                            </div>
                            <div class="xingchengPlan">
                                <div class="item item-text-wrap">
                                    <p>
                                        <span>临沧2</span><span class="xcapgright">临沧酒店 2</span>
                                    </p>
                                </div>
                                <div class="item item-text-wrap">
                                    <p>
                                        入住&nbsp;&nbsp;<span>2016-07-10</span><span class="xcapgright">2016-07-11</span><span class="xcapgright">离店&nbsp;&nbsp;</span>
                                    </p>
                                </div>
                            </div>
                            <div class="xingchengPlan">
                                <div class="item item-text-wrap">
                                    <p>
                                        <span>临沧2</span><span class="xcapgright">临沧酒店 2</span>
                                    </p>
                                </div>
                                <div class="item item-text-wrap">
                                    <p>
                                        入住&nbsp;&nbsp;<span>2016-07-10</span><span class="xcapgright">2016-07-11</span><span class="xcapgright">离店&nbsp;&nbsp;</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="dx_left">
                <div class="xcmx">
                    <div class="xc_title">
                        <span>价格说明</span>
                        <div class="xc_title1">
                        </div>
                    </div>
                    <div class="xc_content">
                        <div>
                        {$drive.priceDesc|htmlspecialchars_decode}
                        </div>
                    </div>
                </div>
                <div class="xcmx">
                    <div class="xc_title">
                        <span>温馨提示</span>
                        <div class="xc_title1">
                        </div>
                    </div>
                    <div class="xc_content">
                        {$drive.prompt|htmlspecialchars_decode}
                    </div>
                </div>
            </div>
        </div>
        <div class="d_explain">
            <div class="de_left">
                <div class="explaina">
                    <div class="ex_title">
                        <span>费用包含</span>
                        <div class="ex_title1">
                        </div>
                    </div>
                    <div class="ex_content">
                        <div>
                        {$drive.isFeeDesc|htmlspecialchars_decode}
                        </div>
                    </div>
                </div>
                <div class="explaina">
                    <div class="ex_title">
                        <span>费用不含</span>
                        <div class="ex_title1">
                        </div>
                    </div>
                    <div class="ex_content">
                       <div>
                        {$drive.noFeeDesc|htmlspecialchars_decode}
                        </div>
                    </div>
                </div>
                <div class="explaina">
                    <div class="ex_title">
                        <span>赠送项目</span>
                        <div class="ex_title1">
                        </div>
                    </div>
                    <div class="ex_content">
                         <div>
                       {$drive.presentProject|htmlspecialchars_decode}
                        </div>
                    </div>
                </div>
            </div>
            <div class="de_left">
                <div class="explaina">
                    <div class="ex_title">
                        <span>所需资料</span>
                        <div class="ex_title1">
                        </div>
                    </div>
                    <div class="ex_contentvisa">
                        <if condition="$drive['drivesVisa'] gt 0">
                        <div class="ex_visa">
                            <div class="ex_visaimg">
                                <img src="__PUBLIC__/home/img/qz.png" alt="" width="">
                            </div>
                            <div class="ex_visacon">
                                <p style="font-size: 15px;">已有护照客人（护照有效期6个月以上、空白签证页4页）请在出行前自行办理好目的地签证或点击下方签证服务了解详情！</p>
                            </div>
                        </div>
                        </if>
                        <div class="ex_visa">
                            <div class="ex_visaimg">
                                <img src="__PUBLIC__/home/img/tg.png" alt="" width="">
                            </div>
                            <div class="ex_visacon">
                                <p style="font-size: 15px;padding-top: 6px">产品数量有限、一经确认不接受任何退改！</p>
                            </div>
                        </div>
                    </div>
                    <if condition="$drive['drivesVisa'] gt 0">
                    <div class="ex_content" style="padding:30px 10px;clear:both;cursor: pointer;" ng-click="visa({$drive.drivesVisa},{$drivesId})">
                            <div class="ex_hrefvisa">
                                <span>签证服务</span>
                            </div>
                    </div>
                    </if>
                </div>
                <div class="explaina">
                    <div class="ex_title">
                        <span>选择报名</span>
                        <div class="ex_title1">
                        </div>
                    </div>
                    <div class="ex_content" style="padding:30px 10px;">
                        <a href="" style="text-decoration: none;" data-toggle="modal" data-target="#diyModal">
                            <div class="ex_hrefvisa" style="background:#E279AE;">
                                <span>没有合适日期或需定制 点击这里</span>
                            </div>
                        </a>
                        <a href="" style="text-decoration: none;" data-toggle="modal" data-target="#bmModal">
                            <div class="ex_hrefvisa" style="background:#E279AE;">
                                <span>前往报名 点击这里</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="d_hotel">
            <div class="d_hotelt">
                <div class="d_scenicta"></div>
                <h3>&nbsp;&nbsp;&nbsp;酒店信息</h3>
            </div>
            <volist name="drive.noWay" id="noH">
            <div class="dh_list">
                <div class="dh_img">
                    <div class="dh_imgb">
                        <img src="/{$noH.hotelImg}" width="624px" height="355px"/>
                    </div>
                    <div class="dh_imgs">
                        <volist name="noH.gallerys" id="vo">
                        <div class="dh_imgss">
                            <img src="/{$vo.hotelThumbs}" alt="" width="148.5px" height="84.5px">
                        </div>
                        </volist>
                    </div>
                </div>
                <div class="dh_desc">
                    <div class="dh_desccon">
                        <h3>{$noH.hotelName}</h3>
                        <p>房型：<span>{$noH.hotelType}</span></p>
                        <p style="color:#F3DE26;">{$noH.hotelStar}</p>
                        <p>地点：{$noH.hotelAddress}</p>
                        <p>
                            {$noH.hotelDesc|htmlspecialchars_decode}
                        </p>
                    </div>
                    <div class="dh_descbtn">
                        <a>
                            <div data-toggle="modal" ng-click="hotelModal({$noH.hotelId})">查看详情</div>
                        </a>
                    </div>
                </div>
            </div>
            </volist>
        </div>
        <div class="d_passhotel">
            <div class="d_hotelt">
                <div class="d_scenicta"></div>
                <h3>&nbsp;&nbsp;&nbsp;途中酒店信息</h3>
            </div>
            <volist name="drive.isWay" id="isH">
            <div class="dph_list">
                <img src="/{$isH.hotelImg}" alt="" width="100%">
                <h3>{$isH.hotelName}</h3>
                <p style="color:#F3DE26;">{$isH.hotelStar}</p>
                <p>
                    {$isH.hotelDesc|htmlspecialchars_decode}
                </p>
            </div>
            </volist>
        </div>
        <div class="d_desc">
            <div class="d_desct">
                <div class="d_descta"></div>
                <h3>&nbsp;&nbsp;&nbsp;行程介绍</h3>
            </div>
            <div class="d_descmap">
                <h4>行车地图</h4>
                <img src="/{$drive.drivesMap}" alt="">
            </div>
            <volist name = "drive.articles" id="da" key="index">
            <div class="d_descday">
                <div class="d_descdays">
                    <img src="__PUBLIC__/home/img/xc.png" alt="">
                    <span class="d_xcnum">{$index}</span>
                </div>
                <div class="d_descdayc">
                    {$da.articleContent|htmlspecialchars_decode}
                </div>
            </div>
            </volist>
        </div>
        <if condition="$ap['apcount'] gt 0">
            <div class="d_comment">
                <div class="d_commentt">
                    <div class="d_commentta"></div>
                    <h3>&nbsp;&nbsp;&nbsp;相关评论</h3>
                </div>
                <div class="dc_lists">
                    <div class="dc_listsl">
                        <h6>共<span id="dc_totol" style="color: #ffc900;">{$ap.apcount}</span>人评论</h6>
                    </div>
                    <hr style="clear:both;">
                </div>
                <volist name ='ap.ap' id="voap">
                <div class="dc_lists">
                    <div class="dc_listsl">
                        <p><span class="dc_name">{$voap.userName}</span>&nbsp;&nbsp;&nbsp;
                        <for start="0" end="$voap['drivesScore']">
                            <span class="glyphicon glyphicon-star"></span>
                        </for>
                        </p>
                        <p>{$voap.content}</p>
                    </div>
                    <div class="dc_listsr">
                        <p>{$voap.createTime}</p>
                    </div>
                    <hr style="clear:both;">
                </div>
                </volist>
                <ap-apdrives></ap-apdrives>
                <div id="dc_refresh" ng-click="apMore({$drivesId})">
                    <span class="glyphicon glyphicon-refresh" style="cursor: pointer;">{{dMoreAp}}</span>
                </div>
            </div>
        </if>
        <notempty name="drive.goods">
            <div class="d_scenic">
                <div class="d_scenict">
                    <div class="d_scenicta"></div>
                    <h3>&nbsp;&nbsp;&nbsp;景点推荐</h3>
                </div>
                <div class="d_sceniclist">
                <volist name="drive.goods" id="good">
                    <div class="d_scenics">
                        <div class="d_scenicimg">
                            <a href="/Home/Goods/index/goodsId/{$good.goodsId}.html"><img src="/{$good.goodsImg}" alt="{$good['goodsName']}"></a>
                        </div>
                        <div class="d_scenicdesc">
                            <h4><a href="/Home/Goods/index/goodsId/{$good.goodsId}.html">{$good.goodsName}</a></h4>
                            <p>
                            <volist name="good.labels" id="al">
                                <span class="jdtag">{$al.name}</span>
                            </volist>
                            <span class="d_scenicp">{$good.adultPrice}</span></p>
                        </div>
                    </div>
                </volist>
                </div>
            </div>
        </notempty>
    </div>
    <include file="tpl:footer"/>
     <!--diyModal -->
    <div class="modal fade" id="diyModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h3 class="modal-title" id="myModalLabel">定制出发计划</h3>
                </div>
                <form name="mygoForm" novalidate>
                <div class="modal-body">
                        <div class="form-group" ng-class="{'has-error':mygoForm.goTime.$dirty && mygoForm.goTime.$invalid}">
                            <label for="recipient-name" class="control-label">待出发日期</label>
                            <input type="text" placeholder="请输入如{$daymtime}格式的时间" ng-model="goTime.goTime" required name="goTime" ng-pattern="/^([0-9]{3}[1-9]|[0-9]{2}[1-9][0-9]{1}|[0-9]{1}[1-9][0-9]{2}|[1-9][0-9]{3})-(((0[13578]|1[02])-(0[1-9]|[12][0-9]|3[01]))|((0[469]|11)-(0[1-9]|[12][0-9]|30))|(02-(0[1-9]|[1][0-9]|2[0-8])))$/" class="form-control" id="recipient-name">
                        </div>
                        <div class="form-group" ng-class="{'has-error':mygoForm.goNum.$dirty && mygoForm.goNum.$invalid}">
                            <label for="recipient-name" class="control-label">预计人数</label>
                            <input type="text" class="form-control" id="recipient-name" ng-model="goTime.goNum" placeholder="请输入出发人数" required name="goNum" ng-pattern="/^[0-9]+$/">
                        </div>
                        <div class="form-group" ng-class="{'has-error':mygoForm.goName.$dirty && mygoForm.goName.$invalid}">
                            <label for="recipient-name" class="control-label">联系人姓名</label>
                            <input type="text" class="form-control" id="recipient-name" placeholder="请输入(只能中文)联系人姓名" ng-model="goTime.goName" required name="goName" ng-pattern="/[\u4e00-\u9fa5]/">
                        </div>
                        <div class="form-group" ng-class="{'has-error':mygoForm.goPhone.$dirty && mygoForm.goPhone.$invalid}">
                            <label for="recipient-name" class="control-label">联系人手机号</label>
                            <input class="form-control" id="recipient-name" type="tel" placeholder="请输入联系人手机号" ng-model="goTime.goPhone" required name="goPhone" ng-pattern="/^1\d{10}$/">
                        </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" ng-disabled="mygoForm.$invalid" class="btn btn-primary" ng-click="addGoTime()">提交信息</button>
                </div>
                </form>
            </div>
        </div>
    </div>
    <!-- bmModal -->
    <div class="modal fade" id="bmModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h3 class="modal-title" id="myModalLabel">前往报名信息</h3>
                </div>
                <div class="modal-body">
                    <div class="" style="text-align: center;">
                        <h4>亲们 可以就近报名哦！</h4>
                    </div>
                    <div class="Mbm_msg" ng-repeat="vo in goplaces">
                        <span class="Mbm_add" ng-bind="vo.placeName"></span>
                        <span class="Mbm_phone" ng-bind="vo.placePhone"></span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>
    <!--hotelModal -->
    <div class="modal fade bs-example-modal-lg" id="hotelModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h3 class="modal-title" id="myModalLabel">酒店信息</h3>
                </div>
                <div class="modal-body mh_con">
                    <div class="mh_msgs">
                        <h3>酒店介绍</h3>
                        <div class="mh_msg">
                            <div class="mh_msgl">酒店</div>
                            <div class="mh_msgr" ng-bind="hotel.hotelName"></div>
                        </div>
                        <div class="mh_msg">
                            <div class="mh_msgl">类型</div>
                            <div class="mh_msgr" ng-bind="hotel.hotelType"></div>
                        </div>
                        <div class="mh_msg">
                            <div class="mh_msgl">地址</div>
                            <div class="mh_msgr" ng-bind="hotel.hotelAddress"></div>
                        </div>
                        <div class="mh_msg">
                            <div class="mh_msgl">电话</div>
                            <div class="mh_msgr" ng-bind="hotel.hotelPhone"></div>
                        </div>
                    </div>
                    <div class="mh_msgs">
                        <h3>酒店设施</h3>
                        <div class="mh_msg">
                            <div class="mh_msgl">酒店配套</div>
                            <div class="mh_msgr" ng-bind-html="hotel.hotelActivity|to_trusted"></div>
                        </div>
                        <div class="mh_msg">
                            <div class="mh_msgl">网络</div>
                            <div class="mh_msgr" ng-bind="hotel.hotelnetwork"></div>
                        </div>
                        <div class="mh_msg">
                            <div class="mh_msgl">停车</div>
                            <div class="mh_msgr" ng-bind="hotel.hotelpark"></div>
                        </div>
                    </div>
                    <div class="mh_msgs">
                        <h3>房型信息</h3>
                        <div class="mh_msg">
                            <div class="mh_msgl">客房面积</div>
                            <div class="mh_msgr" ng-bind="hotel.hotelRoomArea"></div>
                        </div>
                        <div class="mh_msg">
                            <div class="mh_msgl">床铺尺寸</div>
                            <div class="mh_msgr" ng-bind="hotel.hotelBedSize"></div>
                        </div>
                    </div>
                    <div class="mh_msgs">
                        <h3>酒店政策</h3>
                        <div class="mh_msg">
                            <div class="mh_msgl">酒店政策</div>
                            <div class="mh_msgr" ng-bind-html="hotel.hotelContent|to_trusted">
                            </div>
                        </div>
                    </div>
                    <div class="mh_msgs">
                        <h3>入住须知</h3>
                        <div class="mh_msg">
                            <div class="mh_msgl">入住时间</div>
                            <div class="mh_msgr" ng-bind="hotel.hotelFromtime"></div>
                        </div>
                        <div class="mh_msg">
                            <div class="mh_msgl">退房时间</div>
                            <div class="mh_msgr" ng-bind="hotel.hotelTntime"></div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>
</div>
</block>
<block name="js">
<script src="__PUBLIC__/home/js/datePrice.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript">
    $(function() {
        diver_heightchange();
    });
    $(".dh_imgss").mouseover(function(){
        $(".dh_imgb img").attr("src",$(this).children("img").attr("src"));
    });
    var soNum;
    _0('childNum');
    _0('roomNum');
    $(document).on("click", ".dateprice", function() {
        if (!$(this).hasClass("disabled")) {
            $(".selected").removeClass('selected');
            $(this).addClass("selected");
            var selectedDay = $(this).find(".dd").html();
            selectedDay = selectedDay < 10 ? '0' + selectedDay : selectedDay;
            $('#driveDateDay').html($('#currentMonth').html()+'-'+selectedDay);
            $('#df_seldate').html($('#currentMonth').html()+'-'+selectedDay);
            $.ajax({
                url: '/Mobile/Drives/getTp',
                type: "post",
                dataType: "json",
                async: true,
                data: {
                    timeId: $(this).find(".timeId").html()
                },
                success: function(data) {
                    $('#drivesType').html(data.drivesType);
                    $('#tpadultPrice').html(data.adultPrice);
                    $('#selectAdultPrice').html(data.adultPrice);
                    $('#xc_timeDesc').html(data.timeDesc);
                    $('#timeId').val(data.timeId);
                }
            });
            //初始出发人数点击
            _0('childNum');
            _0('roomNum');
            _0('manNum');
            //
            soGetNum($('.selected').find("p:eq(2)").html())
            //可以点击 +
            disabled_isClick('manNum');disabled_no_prevClick('manNum');
            selectDay_onClick('childNum');selectDay_onClick('roomNum');
            // 总价
            $('#df_totelprice').html(0);
        }
    });
    //点击+ 改变出发人数
    next_click('manNum');
    next_click('childNum');
    next_click('roomNum');
    //点击- 改变出发人数
    prev_click('manNum');
    prev_click('childNum');
    prev_click('roomNum');
    //时间没有选择的初始化
    selectDay_onClick('manNum');
    selectDay_onClick('childNum');
    selectDay_onClick('roomNum');
    //获取出发人数函数
    function soGetNum(so) {
        if (so != '售罄' && so != "已售") {
            soNum = so.replace(/[^0-9]/ig, "");
        } else {
            _0('manNum');
            _0('childNum');
            _0('roomNum');
        }
    }
    //出发人数初始化函数
    function _0(id) {
        $("#" + id).val(0);
    }
    //点击+时间列表 点击函数
    function next_click(id) {
        $("#" + id).next().find('button').on('click',function(){
            var jiaNum = $("#" + id).val();
            ++jiaNum;
            if(soNum==jiaNum){
                disabled_noClick(id);
            }
            $("#" + id).val(jiaNum);
            if (id == 'manNum') {
                if(parseInt($("#" + id).val()) == 1){
                    disabled_noClick('roomNum');
                }else{
                    disabled_isClick('roomNum');
                }
                if (/^\d+\.\d+$/.test(parseInt($("#" + id).val()) / 2) == true) {
                    $('#singleRoom').css('display', 'block');
                } else {
                    $('#singleRoom').css('display', 'none');
                }
                $("#roomNum").val(Math.ceil(parseInt($("#" + id).val()) / 2));
                disabled_isClick('childNum');
            }else{
                if(jiaNum == $("#manNum").val()){
                    disabled_noClick(id);
                }
                if(id == 'roomNum'){
                    disabled_is_prevClick(id);
                    if ($("#roomNum").val() > parseInt($("#manNum").val()) / 2) {
                        $('#singleRoom').css('display', 'block');
                    }
                }
            }
            disabled_is_prevClick('childNum');
            disabled_is_prevClick('manNum');
            var roomtotalPrice = (parseInt($("#roomNum").val()) * 2 - parseInt($("#manNum").val())) * parseInt($('#roomPrice').html());
            var totalPrice = parseInt($('#selectAdultPrice').html()) * parseInt($("#manNum").val());
            var childtotalPrice = parseInt($('#childPrice').html()) * parseInt($("#childNum").val());
            $('#df_totelprice').html(childtotalPrice + totalPrice + roomtotalPrice);
        });
    }
    //点击-时间列表 点击函数
    function prev_click(id) {
        $("#" + id).prev().find('button').on('click',function(){
            var jianNum = $("#" + id).val();
            --jianNum;
            jianNum = jianNum<0?0:jianNum;
            $("#" + id).val(jianNum);
            disabled_isClick('childNum');
            if(id == 'roomNum'){
                if(Math.ceil($("#manNum").val() / 2) == parseInt($("#roomNum").val())){
                    disabled_no_prevClick(id);
                    disabled_isClick(id);
                }
                if (Math.ceil($("#manNum").val() / 2) == parseInt($("#roomNum").val())) {
                    $('#singleRoom').css('display', 'none');
                }
                disabled_noClick('childNum');
            }
            if(id == 'manNum'){
                if(parseInt($("#" + id).val()) == 0){
                    _0('childNum');
                    _0('roomNum');
                    disabled_no_prevClick(id);
                    disabled_noClick('childNum');
                    disabled_noClick('roomNum');
                }
                else if(parseInt($("#" + id).val()) == 1){
                    disabled_noClick('roomNum');
                    $("#childNum").val($("#" + id).val());
                    disabled_noClick('childNum');
                }
                else if(parseInt($("#" + id).val())<parseInt($("#childNum").val())){
                    $("#childNum").val(Math.ceil($("#" + id).val()));
                    disabled_noClick('childNum');
                }
                else{
                    disabled_isClick('roomNum');
                    disabled_is_prevClick('childNum');
                }
                if (/^\d+\.\d+$/.test(parseInt($("#" + id).val()) / 2) == true) {
                    $('#singleRoom').css('display', 'block');
                } else {
                    $('#singleRoom').css('display', 'none');
                }
                $("#roomNum").val(Math.ceil(parseInt($("#" + id).val()) / 2));
                disabled_no_prevClick('roomNum');
                disabled_isClick(id);
            }
            if(id == 'childNum'){
                if(parseInt($("#" + id).val()) == 0){
                    disabled_no_prevClick(id);
                }
            }
            var roomtotalPrice = (parseInt($("#roomNum").val()) * 2 - parseInt($("#manNum").val())) * parseInt($('#roomPrice').html());
            var totalPrice = parseInt($('#selectAdultPrice').html()) * parseInt($("#manNum").val());
            var childtotalPrice = parseInt($('#childPrice').html()) * parseInt($("#childNum").val());
            $('#df_totelprice').html(childtotalPrice + totalPrice + roomtotalPrice);
        });
    }
    //没有选择日期  都不能点击+-
    function selectDay_onClick(id) {
        $("#" + id).next().find('button').attr('disabled', 'disabled');
        $("#" + id).prev().find('button').attr('disabled', 'disabled');
    }
    //能点击 +
    function disabled_isClick(id) {
        $("#" + id).next().find('button').removeAttr('disabled', 'disabled');
    }
    //不能点击 +
    function disabled_noClick(id) {
        $("#" + id).next().find('button').attr('disabled', 'disabled');
    }
    //能点击 -
    function disabled_is_prevClick(id) {
        $("#" + id).prev().find('button').removeAttr('disabled', 'disabled');
    }
    //不能点击 -
    function disabled_no_prevClick(id) {
        $("#" + id).prev().find('button').attr('disabled', 'disabled');
    }
    </script>
</block>
