<extend name="tpl:base" />
<block name="title">
    <title>{$diver.drivesName}</title>
    <meta name="keywords" content="{$diver['drivesKeywords']}" />
    <meta name="description" content="{$diver['drivesSpec']}" />
</block>
<block name="css"></block>
<block name="main">
    <nav class="navbar navbar-default header_subpage">
        <include file="tpl:comnav" />
    </nav>
    <div class="d_content">
        <div class="d_head">
            <input type="hidden" id="drivesId" value="2" />
            <input type="hidden" id="daytime" value="2016-05-11" />
            <div class="d_intro">
                <div class="d_img">
                    <img src="/{$drive.pcDrivesImg}" alt="">
                </div>
                <div class="d_introduce">
                    <div class="d_intrl">
                        <p>
                            <span class="d_intrlt">{$drive.drivesName}</span>
                            <span class="d_intrld">{$drive.drivesDay}</span>
                        </p>
                        <p><span class="d_place">{$drive.drivesFrom}</span></p>
                    </div>
                    <div class="d_intrr">
                        <p><span>清新版</span>
                            <span>2999</span>元/人
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="d_form">
            <div class="selectdate">
                <div class="datemonth">
                    <a onclick="preMonth()">
                        <div class="monthlast">
                            <span class="glyphicon glyphicon-menu-left"></span>
                        </div>
                    </a>
                    <div class="selectyear">
                        <span id="currentMonth">&nbsp;</span>
                    </div>
                    <a onclick="nextMonth()">
                        <div class="monthnext">
                            <span class="glyphicon glyphicon-menu-right"></span>
                        </div>
                    </a>
                </div>
                <div class="dateday">
                    <div class="dateweek">日</div>
                    <div class="dateweek">一</div>
                    <div class="dateweek">二</div>
                    <div class="dateweek">三</div>
                    <div class="dateweek">四</div>
                    <div class="dateweek">五</div>
                    <div class="dateweek">六</div>
                </div>
                <div class="calendarprice" id="calendarprice">
                </div>
                <div class="calendarpricedesc">
                    <p>起价是按2位成人参加2016-04-29出发的产品，并入住同一间房间的单人价格。</p>
                </div>
            </div>
            <div class="diverform">
                <div class="diverformlist">
                    <div class="df_left">行程天数：</div>
                    <div class="df_center" id="df_days">4日3晚</div>
                    <div class="df_right" id="df_buys">132人已购买</div>
                </div>
                <HR style="FILTER: progid:DXImageTransform.Microsoft.Shadow(color:#987cb9,direction:145,strength:15);margin:0px;padding:0;" width="100%" color=#7D7D7D SIZE=1>
                <div class="diverformlist">
                    <div class="df_left">出发日期</div>
                    <div class="df_center">&nbsp;</div>
                    <div class="df_right" id="df_seldate">2016-12-25</div>
                </div>
                <HR style="FILTER: progid:DXImageTransform.Microsoft.Shadow(color:#987cb9,direction:145,strength:15);margin:0px;padding:0;" width="100%" color=#7D7D7D SIZE=1>
                <div class="diverformlist">
                    <div class="df_left">成人</div>
                    <div class="df_center ">
                        <div class="input-group">
                            <span class="input-group-btn">
                        <button class="btn btn-default disabled" type="button">-</button>
                      </span>
                            <input type="text" class="form-control" value="5" readonly>
                            <span class="input-group-btn">
                        <button class="btn btn-default" type="button">+</button>
                      </span>
                        </div>
                    </div>
                    <div class="df_right"><span>1235元/人</span></div>
                </div>
                <HR style="FILTER: progid:DXImageTransform.Microsoft.Shadow(color:#987cb9,direction:145,strength:15);margin:0px;padding:0;" width="100%" color=#7D7D7D SIZE=1>
                <div class="diverformlist">
                    <div class="df_left">儿童</div>
                    <div class="df_center ">
                        <div class="input-group">
                            <span class="input-group-btn"><button class="btn btn-default" type="button">-</button></span>
                            <input type="text" class="form-control" placeholder="">
                            <span class="input-group-btn"><button class="btn btn-default" type="button">+</button>
                      </span>
                        </div>
                    </div>
                    <div class="df_right"><span>1235元/人</span></div>
                </div>
                <HR style="FILTER: progid:DXImageTransform.Microsoft.Shadow(color:#987cb9,direction:145,strength:15);margin:0px;padding:0;" width="100%" color=#7D7D7D SIZE=1>
                <div class="diverformlist">
                    <div class="df_left">房间数</div>
                    <div class="df_center ">
                        <div class="input-group">
                            <span class="input-group-btn">
                        <button class="btn btn-default" type="button">-</button>
                      </span>
                            <input type="text" class="form-control" placeholder="">
                            <span class="input-group-btn">
                        <button class="btn btn-default" type="button">+</button>
                      </span>
                        </div>
                    </div>
                    <div class="df_right">单房差<span>1235元/人</span></div>
                </div>
                <HR style="FILTER: progid:DXImageTransform.Microsoft.Shadow(color:#987cb9,direction:145,strength:15);margin:0px;padding:0;" width="100%" color=#7D7D7D SIZE=1>
                <div class="diverformlist">
                    <div style="color:#1AD4D2;float:right;margin:0 50px;">成人/儿童/单房差 价格说明</div>
                </div>
                <div class="diverformlist_sub">
                    <div id="df_price">
                        总价格<span id="df_totelprice">￥1699</span>
                    </div>
                    <div id="df_submit">
                        <a href="orderdiver.html"><span>立即预定</span></a>
                    </div>
                    <p></p>
                </div>
            </div>
        </div>
        <div class="d_xcts">
            <div class="dx_left">
                <div class="xcmx">
                    <div class="xc_title">
                        <span>行程简介</span>
                        <div class="xc_title1">
                        </div>
                    </div>
                    <div class="xc_content">
                        <div id="xc_timeDesc">
                            <div class="item item-text-wrap">
                                <p>
                                    出发日期:&nbsp;&nbsp;<span>2016-07-09</span><span class="xcapgright">云南昆明</span>
                                </p>
                            </div>
                            <div class="item item-text-wrap">
                                <p>
                                    结束日期:&nbsp;&nbsp;<span>2016-07-11</span><span class="xcapgright">云南临沧</span>
                                </p>
                            </div>
                            <div class="xingchengPlan">
                                <div class="item item-text-wrap">
                                    <p>
                                        <span>临沧1</span><span class="xcapgright">临沧酒店1 </span>
                                    </p>
                                </div>
                                <div class="item item-text-wrap">
                                    <p>
                                        入住&nbsp;&nbsp;<span>2016-07-09</span><span class="xcapgright">2016-07-10</span><span class="xcapgright">离店&nbsp;&nbsp;</span>
                                    </p>
                                </div>
                            </div>
                            <div class="xingchengPlan">
                                <div class="item item-text-wrap">
                                    <p>
                                        <span>临沧2</span><span class="xcapgright">临沧酒店 2</span>
                                    </p>
                                </div>
                                <div class="item item-text-wrap">
                                    <p>
                                        入住&nbsp;&nbsp;<span>2016-07-10</span><span class="xcapgright">2016-07-11</span><span class="xcapgright">离店&nbsp;&nbsp;</span>
                                    </p>
                                </div>
                            </div>
                            <div class="xingchengPlan">
                                <div class="item item-text-wrap">
                                    <p>
                                        <span>临沧2</span><span class="xcapgright">临沧酒店 2</span>
                                    </p>
                                </div>
                                <div class="item item-text-wrap">
                                    <p>
                                        入住&nbsp;&nbsp;<span>2016-07-10</span><span class="xcapgright">2016-07-11</span><span class="xcapgright">离店&nbsp;&nbsp;</span>
                                    </p>
                                </div>
                            </div>
                            <div class="xingchengPlan">
                                <div class="item item-text-wrap">
                                    <p>
                                        <span>临沧2</span><span class="xcapgright">临沧酒店 2</span>
                                    </p>
                                </div>
                                <div class="item item-text-wrap">
                                    <p>
                                        入住&nbsp;&nbsp;<span>2016-07-10</span><span class="xcapgright">2016-07-11</span><span class="xcapgright">离店&nbsp;&nbsp;</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="dx_left">
                <div class="xcmx">
                    <div class="xc_title">
                        <span>价格说明</span>
                        <div class="xc_title1">
                        </div>
                    </div>
                    <div class="xc_content">
                        <div>
                        {$drive.priceDesc|htmlspecialchars_decode}
                        </div>
                    </div>
                </div>
                <div class="xcmx">
                    <div class="xc_title">
                        <span>温馨提示</span>
                        <div class="xc_title1">
                        </div>
                    </div>
                    <div class="xc_content">
                        {$drive.prompt|htmlspecialchars_decode}
                    </div>
                </div>
            </div>
        </div>
        <div class="d_explain">
            <div class="de_left">
                <div class="explaina">
                    <div class="ex_title">
                        <span>费用包含</span>
                        <div class="ex_title1">
                        </div>
                    </div>
                    <div class="ex_content">
                        <div>
                        {$drive.isFeeDesc|htmlspecialchars_decode}
                        </div>
                    </div>
                </div>
                <div class="explaina">
                    <div class="ex_title">
                        <span>费用不含</span>
                        <div class="ex_title1">
                        </div>
                    </div>
                    <div class="ex_content">
                       <div>
                        {$drive.noFeeDesc|htmlspecialchars_decode}
                        </div>
                    </div>
                </div>
                <div class="explaina">
                    <div class="ex_title">
                        <span>赠送项目</span>
                        <div class="ex_title1">
                        </div>
                    </div>
                    <div class="ex_content">
                         <div>
                       {$drive.presentProject|htmlspecialchars_decode}
                        </div>
                    </div>
                </div>
            </div>
            <div class="de_left">
                <div class="explaina">
                    <div class="ex_title">
                        <span>所需资料</span>
                        <div class="ex_title1">
                        </div>
                    </div>
                    <div class="ex_contentvisa">
                        <div class="ex_visa">
                            <div class="ex_visaimg">
                                <img src="__PUBLIC__/Home/img/qz.png" alt="" width="">
                            </div>
                            <div class="ex_visacon">
                                <p style="font-size: 15px;">已有护照客人（护照有效期6个月以上、空白签证页4页）请在出行前自行办理好目的地签证或点击下方签证服务了解详情！</p>
                            </div>
                        </div>
                        <div class="ex_visa">
                            <div class="ex_visaimg">
                                <img src="__PUBLIC__/Home/img/tg.png" alt="" width="">
                            </div>
                            <div class="ex_visacon">
                                <p style="font-size: 15px;padding-top: 6px">产品数量有限、一经确认不接受任何退改！</p>
                            </div>
                        </div>
                    </div>
                    <div class="ex_content" style="padding:30px 10px;clear:both;">
                            <div class="ex_hrefvisa">
                                <span>签证服务</span>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="explaina">
                    <div class="ex_title">
                        <span>选择报名</span>
                        <div class="ex_title1">
                        </div>
                    </div>
                    <div class="ex_content" style="padding:30px 10px;">
                        <a href="" style="text-decoration: none;" data-toggle="modal" data-target="#diyModal">
                            <div class="ex_hrefvisa" style="background:#E279AE;">
                                <span>没有合适日期或需定制 点击这里</span>
                            </div>
                        </a>
                        <a href="" style="text-decoration: none;" data-toggle="modal" data-target="#bmModal">
                            <div class="ex_hrefvisa" style="background:#E279AE;">
                                <span>前往报名 点击这里</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="d_hotel">
            <div class="d_hotelt">
                <div class="d_scenicta"></div>
                <h3>&nbsp;&nbsp;&nbsp;酒店信息</h3>
            </div>
            <volist name="drive.noWay" id="noH">
            <div class="dh_list">
                <div class="dh_img">
                    <div class="dh_imgb">
                        <img src="/{$noH.hotelImg}" />
                    </div>
                    <div class="dh_imgs">
                        <volist name="noH.gallerys" id="vo">
                        <div class="dh_imgss">
                            <img src="/{$vo.hotelThumbs}" alt="">
                        </div>
                        </volist>
                    </div>
                </div>
                <div class="dh_desc">
                    <div class="dh_desccon">
                        <h3>{$noH.hotelName}</h3>
                        <p>房型：<span>{$noH.hotelType}</span></p>
                        <p style="color:#F3DE26;">{$noH.hotelStar}</p>
                        <p>地点：{$noH.hotelAddress}</p>
                        <p>
                            {$noH.hotelDesc|htmlspecialchars_decode}
                        </p>
                    </div>
                    <div class="dh_descbtn">
                        <a>
                            <div data-toggle="modal" data-target="#hotelModal">查看详情</div>
                        </a>
                    </div>
                </div>
            </div>
            </volist>
        </div>
        <div class="d_passhotel">
            <div class="d_hotelt">
                <div class="d_scenicta"></div>
                <h3>&nbsp;&nbsp;&nbsp;途中酒店信息</h3>
            </div>
            <volist name="drive.isWay" id="isH">
            <div class="dph_list">
                <img src="/{$isH.hotelImg}" alt="" width="100%">
                <h3>{$isH.hotelName}</h3>
                <p style="color:#F3DE26;">{$isH.hotelStar}</p>
                <p>
                    {$isH.hotelDesc|htmlspecialchars_decode}
                </p>
            </div>
            </volist>
        </div>
        <div class="d_desc">
            <div class="d_desct">
                <div class="d_descta"></div>
                <h3>&nbsp;&nbsp;&nbsp;行程介绍</h3>
            </div>
            <div class="d_descmap">
                <h4>行车地图</h4>
                <img src="/{$drive.drivesMap}" alt="">
            </div>
            <volist name = "drive.articles" id="da" key="index">
            <div class="d_descday">
                <div class="d_descdays">
                    <img src="__PUBLIC__/home/img/xc.png" alt="">
                    <span class="d_xcnum">{$index}</span>
                </div>
                <div class="d_descdayc">
                    {$da.articleContent|htmlspecialchars_decode}
                </div>
            </div>
            </volist>
        </div>
        <if condition="$ap['apcount'] lt 0">
        <div class="d_comment">
            <div class="d_commentt">
                <div class="d_commentta"></div>
                <h3>&nbsp;&nbsp;&nbsp;相关评论</h3>
            </div>
            <div class="dc_lists">
                <div class="dc_listsl">
                    <h6>共<span id="dc_totol" style="color: #ffc900;">{$ap.apcount}</span>人评论</h6>
                </div>
                <hr style="clear:both;">
            </div>
            <volist name ='ap.ap' id="voap">
            <div class="dc_lists">
                <div class="dc_listsl">
                    <p><span class="dc_name">{$voap.userName}</span>&nbsp;&nbsp;&nbsp;
                    <for start="0" end="$voap['drivesScore']">
                        <span class="glyphicon glyphicon-star"></span>
                    </for>
                    </p>
                    <p>{$voap.content}</p>
                </div>
                <div class="dc_listsr">
                    <p>{$voap.createTime}</p>
                </div>
                <hr style="clear:both;">
            </div>
            </volist>
            <ap-apdrives></ap-apdrives>
            <div id="dc_refresh" ng-click="">
                <span class="glyphicon glyphicon-refresh" style="cursor: pointer;">更多评论</span>
            </div>
        </div>
    </if>
    <notempty name="drive.goods">
        <div class="d_scenic">
            <div class="d_scenict">
                <div class="d_scenicta"></div>
                <h3>&nbsp;&nbsp;&nbsp;景点推荐</h3>
            </div>
            <div class="d_sceniclist">
            <volist name="drive.goods" id="good">
                <div class="d_scenics">
                    <div class="d_scenicimg">
                        <img src="/{$good.goodsImg}" alt="">
                    </div>
                    <div class="d_scenicdesc">
                        <h4>{$good.goodsName}</h4>
                        <p>
                        <volist name="good.labels" id="al">
                            <span class="jdtag">{$al.name}</span>
                        </volist>
                        <span class="d_scenicp">{$good.adultPrice}</span></p>
                    </div>
                </div>
            </volist>
            </div>
        </div>
    </div>
    </notempty>
    <include file="tpl:footer"/>
     <!--diyModal -->
    <div class="modal fade" id="diyModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h3 class="modal-title" id="myModalLabel">定制出发计划</h3>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="recipient-name" class="control-label">待出发日期</label>
                            <input type="text" class="form-control" id="recipient-name" placeholder="20xx-01-01">
                        </div>
                        <div class="form-group">
                            <label for="recipient-name" class="control-label">预计人数</label>
                            <input type="text" class="form-control" id="recipient-name">
                        </div>
                        <div class="form-group">
                            <label for="recipient-name" class="control-label">联系人姓名</label>
                            <input type="text" class="form-control" id="recipient-name">
                        </div>
                        <div class="form-group">
                            <label for="recipient-name" class="control-label">联系人手机号</label>
                            <input type="text" class="form-control" id="recipient-name">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary">提交信息</button>
                </div>
            </div>
        </div>
    </div>
    <!-- bmModal -->
    <div class="modal fade" id="bmModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h3 class="modal-title" id="myModalLabel">前往报名信息</h3>
                </div>
                <div class="modal-body">
                    <div class="" style="text-align: center;">
                        <h4>亲们 可以就近报名哦！</h4>
                    </div>
                    <div class="Mbm_msg">
                        <span class="Mbm_add">昆明市穿金路白字路白字路白字小区11-3栋</span>
                        <span class="Mbm_phone">0871-65096386</span>
                    </div>
                    <div class="Mbm_msg">
                        <span class="Mbm_add">昆明市穿金路白字路白字路白字小区11-3栋</span>
                        <span class="Mbm_phone">0871-65096386</span>
                    </div>
                    <div class="Mbm_msg">
                        <span class="Mbm_add">昆明市穿金路白字路白字路白字小区11-3栋</span>
                        <span class="Mbm_phone">0871-65096386</span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>
    <!--hotelModal -->
    <div class="modal fade bs-example-modal-lg" id="hotelModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h3 class="modal-title" id="myModalLabel">酒店信息</h3>
                </div>
                <div class="modal-body mh_con">
                    <div class="mh_msgs">
                        <h3>酒店介绍</h3>
                        <div class="mh_msg">
                            <div class="mh_msgl">酒店</div>
                            <div class="mh_msgr">酒店</div>
                        </div>
                        <div class="mh_msg">
                            <div class="mh_msgl">类型</div>
                            <div class="mh_msgr">酒店</div>
                        </div>
                        <div class="mh_msg">
                            <div class="mh_msgl">地址</div>
                            <div class="mh_msgr">电话</div>
                        </div>
                        <div class="mh_msg">
                            <div class="mh_msgl">电话</div>
                            <div class="mh_msgr">酒店</div>
                        </div>
                    </div>
                    <div class="mh_msgs">
                        <h3>酒店设施</h3>
                        <div class="mh_msg">
                            <div class="mh_msgl">酒店配套</div>
                            <div class="mh_msgr">酒店</div>
                        </div>
                        <div class="mh_msg">
                            <div class="mh_msgl">网络</div>
                            <div class="mh_msgr">酒店</div>
                        </div>
                        <div class="mh_msg">
                            <div class="mh_msgl">停车</div>
                            <div class="mh_msgr">酒店</div>
                        </div>
                    </div>
                    <div class="mh_msgs">
                        <h3>房型信息</h3>
                        <div class="mh_msg">
                            <div class="mh_msgl">客房面积</div>
                            <div class="mh_msgr">酒店</div>
                        </div>
                        <div class="mh_msg">
                            <div class="mh_msgl">床铺尺寸</div>
                            <div class="mh_msgr">酒店</div>
                        </div>
                    </div>
                    <div class="mh_msgs">
                        <h3>酒店政策</h3>
                        <div class="mh_msg">
                            <div class="mh_msgl">酒店政策</div>
                            <div class="mh_msgr">
                                <p>
                                    <span>允许客人携带儿童入住。</span>
                                </p>
                                <p class="positivepolicyfreecontainsfreerow">
                                    <span>允许</span><span>1</span><span>名</span><span>5</span><span>岁以下的儿童，使用现有床铺免费。</span><span></span>
                                </p>
                                <p>
                                    <span>所提出的任何加床或婴儿床的要求均需获得酒店的确认。</span>
                                </p>
                                <p>
                                    <span>附加费用不会自动计算在总价中，您需在入住时另行支付。</span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="mh_msgs">
                        <h3>入住须知</h3>
                        <div class="mh_msg">
                            <div class="mh_msgl">入住时间</div>
                            <div class="mh_msgr">酒店</div>
                        </div>
                        <div class="mh_msg">
                            <div class="mh_msgl">退房时间</div>
                            <div class="mh_msgr">酒店</div>
                        </div>
                    </div>
                    <!--      <div class="mh_msgdesc">
                        <div class="mh_msgl">
                            Koreana Hotel酒店距离首尔金融中心不到200米，提供带平面电视的优雅宽敞客房，俯瞰着清溪川，拥有一个健身中心，提供放松的按摩治疗和桑拿，也提供免费停车场。 现代客房都配备了良好的迷你吧、冰箱和茶/咖啡设施。私人浴室设有一个浴缸和吹风机。 Koreana Hotel酒店位于首尔的光化门十字路口，距离南大门、Jongmyo Shrine和 Ssamji-gil不到1公里，距离I仁川国际机场约有47公里， 客人可以在商务中心查阅电子邮件，在沙龙洗头或在纪念品商店购买礼物。酒店还提供洗衣服务和外币兑换服务。 酒店内的3间餐厅提供中餐、西欧和日本料理。酒店的酒吧供应饮品。
                        </div>
                    </div> -->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <!-- <button type="button" class="btn btn-primary">提交信息</button> -->
                </div>
            </div>
        </div>
    </div>
    </block>
<block name="js">
<script src="__PUBLIC__/home/js/datePrice.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript">
    // alert($("#daytime").val());
    // $(function() {
    // });
    $(document).on("click", ".dateprice", function() {
        if (!$(this).hasClass("disabled")) {
            $(".selected").removeClass('selected');
            $(this).addClass("selected");
            // selectedDay = new Date(today.getFullYear(), today.getMonth(), $(this).find(".dd").html());
            // selectedDay = new Date(today.getFullYear(), today.getMonth(), $(this).find(".dd").html());
        }
    });
    </script>
</block>
