  <footer id="footer">
        <div class="foot_bg">
            <img src="__PUBLIC__/home/img/slide2.jpg" alt="" >
        </div>
            <div class="container foot_con" >
                <div class="row">
                 <volist name="foot.art" id="vo">
                   <div class="col-md-2">
                        <a href="/a/{$vo['catId']}.html" style="color: #fff;"><h4>{$vo.catName}</h4></a>
                        <ul>
                              <volist name="vo.articles" id="ko">
                                <li>{$ko['articleTitle']}</li>
                              </volist>
                               <li>更多</li>
                        </ul>
                    </div>
                 </volist>
                    <div class="col-md-4">
                        <h4>关于我们</h4>
                        <div class="qqwxwb">
                            <img id="erweimaqq" src="__PUBLIC__/home/img/01.png" alt="">
                            <img id="erweimawx" src="__PUBLIC__/home/img/02.png" alt="">
                            <img id="erweimawb" src="__PUBLIC__/home/img/03.png" alt="">
                        </div>
                        <img id="erweima" src="__PUBLIC__/home/img/erweima.jpg" alt="" width="150px" style="display: none;">
                     {$foot['footer']['fieldValue']|htmlspecialchars_decode}
                     <div>
                       <a href="http://chouchongkeji.com" target="_blank" style="color: #fff;text-decoration: none;">臭虫科技技术支持</a>
                     </div>
                    </div>
                </div>
            </div>
    </footer>