<extend name="tpl:base" />
<block name="title">
   <title>找回密码</title> 
</block>
<block name="css"></block>
<block name="main">
<div ng-app="myapp">
    <nav class="navbar navbar-default header_subpage">
        <div class="container-fluid channel">
          <a class="navbar-brand" href="/index.html">
              <img alt="" src="__PUBLIC__/home/img/logo.png">
              <!-- <empty name="CONF.mallLogo">
              <img alt="Brand" src="__PUBLIC__/home/img/logo.png">
              <else/>
              <img alt="Brand" src="/{$CONF['mallLogo']}">
              </empty> -->
          </a>
          <ul class="nav navbar-nav navbar-right">
              <li><a href="/index.html">首页</a></li>
              <li><a href="/a/5.html">联系我们</a></li>
              <if condition="$userSession neq ''">
              <li><a href="/order.html">我的订单</a></li>
              <li>
                  <a href="/u.html">
                      <i class="glyphicon glyphicon-user"></i>
                  </a>
              </li>
              <li><a href="/u.html">{$userSession['userName']}</a></li>
              <li id=""><a href="{:U('Home/Users/loginOut')}">退出</a></li>
              </if>
              <if condition="$userSession eq ''">
              <li id=""><a href="/register.html" style="cursor: pointer;">注册</a></li>
              <li id=""><a href="/login.html" style="cursor: pointer;">登录</a></li>
              </if>
          </ul>
      </div>
    </nav>
    <div class="register_c">
        <div class="register_co">
            <div class="registerleft">
                <div class="registerform">
                    <form ng-controller="lostpasswordCtrl" name="setpasswordForm" novalidate>
                        <div class="form-group has-success has-feedback" ng-class="{'has-error':setpasswordForm.phone.$dirty && setpasswordForm.phone.$invalid}">
                            <label class="control-label" for="inputSuccess1">手机号</label>
                            <input type="tel" class="form-control" id="inputSuccess1" placeholder="请输入手机号" aria-describedby="inputSuccess1Status" ng-model="user.phone" name="phone" required ng-pattern="/^1\d{10}$/">
                          <span ng-show="!setpasswordForm.phone.$error.pattern&&!setpasswordForm.phone.$error.required" class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                          <span ng-show="setpasswordForm.phone.$error.pattern||setpasswordForm.phone.$error.required" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                        </div>
                        <div class="form-group has-success has-feedback" ng-class="{'has-error':setpasswordForm.password.$dirty && setpasswordForm.password.$invalid}">
                            <label class="control-label" for="inputSuccess2">输入新密码</label>
                            <input type="password" class="form-control" id="inputSuccess2" aria-describedby="inputSuccess2Status" ng-model="user.password" name="password"  placeholder="请输入6到12位的密码" ng-minlength="6" ng-maxlength="12" required >
                          <span ng-show="!setpasswordForm.password.$error.minlength&&!setpasswordForm.password.$error.maxlength&&!setpasswordForm.password.$error.required" class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                          <span ng-show="setpasswordForm.password.$error.minlength||setpasswordForm.password.$error.maxlength||setpasswordForm.password.$error.required" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                        </div>
                        <div class="form-group has-success has-feedback" ng-class="{'has-error':setpasswordForm.smscode.$dirty && setpasswordForm.smscode.$invalid}">
                                      <label class="control-label" for="inputSuccess2">手机验证码</label>
                                      <input type="text" class="form-control" id="inputSuccess2" aria-describedby="inputSuccess2Status" ng-model="user.smscode" name="smscode" minlength="6"  maxlength="6" placeholder="输入6验证码" required>
                                       <span ng-show="!setpasswordForm.smscode.$error.minlength&&!setpasswordForm.smscode.$error.required" class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                                      <span ng-show="setpasswordForm.smscode.$error.minlength||setpasswordForm.smscode.$error.required" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                                    </div>
                                    <p style="text-align: right;">
                                    <button type="submit" class="btn {{textClass}}" ng-click="sms()" ng-disabled="setpasswordForm.phone.$error.pattern || setpasswordForm.phone.$error.required || fash">{{text}}</button></p>
                        <button type="submit" class="btn btn-primary btn-block" ng-click="setpassword()" ng-disabled="setpasswordForm.$invalid">设置新密码</button>
                    </form>
                </div>
            </div>
            <div class="registerright">
                <img src="__PUBLIC__/home/img/login.jpg" alt="" width="100%" style="margin-top: -20px;">
            </div>
        </div>
    </div>
        <include file="tpl:footer"/>
      </div>
    </block>
<block name="js">
</block>
