<div class="navbar-header">
<a class="navbar-brand" href="/index.html">
    <img alt="Brand" src="__PUBLIC__/home/img/logo.png">
    <!-- <empty name="CONF.mallLogo">
    <img alt="Brand" src="__PUBLIC__/home/img/logo.png">
    <else/>
    <img alt="Brand" src="/{$CONF['mallLogo']}">
    </empty> -->
</a>
<ul class="nav navbar-nav navbar-right">
    <li><a href="/index.html">首页</a></li>
    <li><a href="/a/5.html">联系我们</a></li>
    <if condition="$userSession neq ''">
    <li><a href="/order.html">我的订单</a></li>
    <li>
        <a href="/u.html">
            <i class="glyphicon glyphicon-user"></i>
        </a>
    </li>
    <li><a href="/u.html">{$userSession['userName']}</a></li>
    <li id=""><a href="{:U('Home/Users/loginOut')}">退出</a></li>
    </if>
    <if condition="$userSession eq ''">
      <li id=""><a ng-click="comReg()" style="cursor: pointer;">注册</a></li>
      <li id=""><a ng-click="comLogin()" style="cursor: pointer;">登录</a></li>
    </if>
</ul>
</div>