<extend name="tpl:base" />
<block name="title">
    <title>{$visa.visaName}</title>
    <meta name="keywords" content="{$visa.visaName}" />
    <meta name="description" content="{$visa.visaName}" />
</block>
<block name="css"></block>
<block name="main">
<div ng-app="myapp" ng-controller="VisaCtrl">
    <nav class="navbar navbar-default header_subpage">
        <include file="tpl:comnav" />
    </nav>
    <div class="visa_c">
        <div class="v_left">
            <div class="v_cdesc">
                <div class="v_cdesct">
                    <div class="v_cdesctb"></div>
                    <span class="v_cdesctt" id="visaName">{$visa.visaName}</span><span>基本信息说明</span>
                    <span id="visaId" style="display: none">{$visa.visaId}</span>
                </div>
                <div class="v_cdescs">
                    <div class="v_cdesclist">
                        签证类型<span id="visaType">{$visa.visaType}</span>
                    </div>
                </div>
                <div class="v_cdescs">
                    <div class="v_cdesclist">
                        有效期<span id="visaTime">{$visa.visaValidity}</span>
                    </div>
                </div>
                <div class="v_cdescs">
                    <div class="v_cdesclist">
                        入境次数<span id="visaNumber">{$visa.visaCount}</span>
                    </div>
                </div>
            </div>
            <div class="v_cdesc" >
                <div class="v_cdesct">
                    <div class="v_cdesctb"></div>
                    <span class="v_cdesctt">办理签证所需资料</span>
                </div>
                <div class="v_cdescs" style="padding-top:20px;border: none;" id="visaDesc">
                    {$visa.visaDesc|htmlspecialchars_decode}
                </div>
            </div>
        </div>
        <div class="v_left">
            <div class="v_cdesc">
                <div class="v_cdesct">
                    <div class="v_cdesctb"></div>
                    <span class="v_cdesctt">办理时效</span>
                </div>
                <div class="v_cdescs" style="padding:10px 20px;" id="visaTimeManagent">
                    {$visa.visaTimeManagent|htmlspecialchars_decode}
                </div>
            </div>
            <div class="v_cdesc">
                <div class="v_cdesct">
                    <div class="v_cdesctb"></div>
                    <span class="v_cdesctt">请填写以下资料进行办理</span>
                </div>
                <div class="v_cdescs">
                    <div class="vc_mennum">
                        <div class="vc_left" style="font-size: 15px;">数量</div>
                        <div class="vc_center ">
                            <div class="input-group">
                                <span class="input-group-btn">
                        <button class="btn btn-default" type="button" id="jian">-</button>
                      </span>
                                <input type="text" class="form-control"  value="0" id="manNum">
                                <span class="input-group-btn">
                        <button class="btn btn-default" type="button" id="jia">+</button>
                      </span>
                            </div>
                        </div>
                        <div class="vc_right"><span id="visaPrice">{$visa.visaPrice}</span>元/人</div>
                    </div>
                </div>
                <div class="v_cdescs" id="isDef" ng-show="addRess">
                <input type="hidden" id="addressId" ng-model="addRess.addressId">
                    <h4 ng-bing="默认联系人"></h4>
                    <p style="margin:8px 15px;">
                        <span ng-bind="addRess.userName"></span>
                        <span style="float:right" ng-bind="addRess.userPhone"></span>
                    </p>
                    <p style="margin:8px 15px;">
                        <span ng-bind="addRess.address"></span>
                        <span style="float:right" ng-bind="addRess.userEmail"></span>
                    </p>
                </div>
                <div class="v_cdescs">
                    <div class="checkbox" style="float:right;">
                        <label>
                            <input type="checkbox" style="width: 16px;
    height: 15px;"><span style="color:#123;">添加联系人</span>
                        </label>
                    </div>
                </div>
                <div class="v_cdescs" style="border:none;" >
                    <div class="vc_lxr">
                        <form class="form-horizontal" name="visaAddress" novalidate>
                            <div class="form-group" ng-class="{'has-error':visaAddress.aName.$dirty && visaAddress.aName.$invalid}">
                                <label for="inputPassword3" class="col-sm-3 control-label">联系人</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="visaName" name="aName" ng-model="visa.aName" placeholder="请输入联系人" required>
                                </div>
                            </div>
                            <div class="form-group" ng-class="{'has-error':visaAddress.phone.$dirty && visaAddress.phone.$invalid}">
                                <label for="inputPassword3" class="col-sm-3 control-label">联系电话</label>
                                <div class="col-sm-9">
                                    <input type="tel" class="form-control" id="visaPhone" name="phone" ng-model="visa.phone" ng-pattern="/^1\d{10}$/" placeholder="请输入手机号" required>
                                </div>
                            </div>
                            <div class="form-group" ng-class="{'has-error':visaAddress.email.$dirty && visaAddress.email.$invalid}">
                                <label for="inputPassword3" class="col-sm-3 control-label">联系邮箱</label>
                                <div class="col-sm-9">
                                    <input type="email" class="form-control" id="visaEmail" ng-model="visa.email" name="email" placeholder="请输入联系邮箱" required>
                                </div>
                            </div>
                            <div class="form-group" ng-class="{'has-error':visaAddress.address.$dirty && visaAddress.address.$invalid}">
                                <label for="inputAddress" class="col-sm-3 control-label">联系人地址</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="visaAddress" ng-model="visa.address" name="address" placeholder="联系人地址" required>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="vc_address">
                        <p>付款后请将所需资料仔细检查备齐后寄送至：</p>
                        <p>昆明市穿金路白汁小区11-3栋</p>
                        <p>昆明春秋国际旅行社有限公司 签证中心（收）</p>
                        <p>13888222888 0871-65096386</p>
                        <p>邮费自理</p>
                    </div>
                        <button class="btn vc_submit"  style="color: #fff;margin-left: 120px" ng-click="visaNews()">提交</button>
                </div>
            </div>
        </div>
    </div>
        <include file="tpl:footer"/>
        </div>
    </block>
<block name="js">
   <script type="text/javascript">
        $(function() {
            visa_heightchange();
            $('input:checkbox').attr('checked',true);
            $('input:checkbox').bind("click", function () {
                if($('input:checkbox').is(':checked')==false){
                    $("#isDef").show();
                    $(".vc_lxr").hide();
                }else{
                    $("#isDef").hide();
                    $(".vc_lxr").show();
                }
                visa_heightchange();
            });
            //
            var menNum = $('.vc_mennum').find('input').val();
            $('#jia').on('click',function(){
                ++menNum;
                $('.vc_mennum').find('input').val(menNum);
            });
            $('#jian').on('click',function(){
                --menNum;
                menNum = menNum<0?0:menNum;
                $('.vc_mennum').find('input').val(menNum);
            });
        });
    </script>
</block>