<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
<meta name="format-detection" content="telephone=no"/>
<meta content="yes" name="apple-mobile-web-app-capable">
<meta content="black" name="apple-mobile-web-app-status-bar-style">
<title>联系人添加</title>
<link href="__PUBLIC__/Mobile/lib/ionic/css/ionic.css" rel="stylesheet">
<link href="__PUBLIC__/Mobile/css/custom.css" rel="stylesheet" type="text/css" media="all" />
<script src="__PUBLIC__/Mobile/js/jquery-1.8.0.min.js"></script>
    <style>
    .button {
        line-height: 35px;
        float: right;
        background: #6dc5cc;
        min-height: 4px;
        color: #fff;
    }
    </style>
    </head>
    <body>
<div ng-app="myApp" ng-controller="aLmctrl">
    <ion-header-bar class="bar bar-light">
    <div id="myuser" style="display: none;">
        <empty name="Users">
        <div>
            <a ng-click="userLogin()">登录</a>
        </div>
        <div style="line-height: 40px;color:#72C7DD;">
            <a ng-click="userRegister()">注册</a>
        </div>
        <else />
        <div>
            <a href="{:U('Mobile/Users/index')}">我的账户</a>
        </div>
        <div style="line-height: 40px;color:#72C7DD;">
            <a href="{:U('Mobile/Orders/index')}">我的订单</a>
        </div>
        </empty>
    </div>
    <a class="button button-clear" ng-click="aLmBack()">
        <i class="ion-chevron-left" style="color:#6CC5DC;font-size: 19px;margin-left: 5px;">&nbsp;&nbsp;返回</i>
    </a>
    <a class="button button-clear " ng-click="userShow()" style="color: #66BDE0;    margin-top: -2px;"><i class="icon ion-navicon-round"></i></a>
</ion-header-bar>
<script>
    $(function(){
        $("ion-content").click(function(event) {
            var traget = document.getElementById("myuser");
              if(traget.style.display == ""){
                 traget.style.display = "none";
             }
        });
    })
</script>
    <!-- content -->
    <div class="scroll-content has-header" style="background: #f5f5f5;">
        <form name="myNameForm" novalidate>
            <div class="card">
            <div class="list">
                <label class="item item-input item-floating-label">
                    <span>联系人</span>
                    <input type="text" placeholder="请输入(只能中文)联系人姓名" ng-model="user.name" required name="name" ng-pattern="/[\u4e00-\u9fa5]/">
                    <span ng-show="myNameForm.name.$dirty && myNameForm.name.$invalid">
                        <i ng-show="myNameForm.name.$error.required" class="icon ion-android-alert placeholder-icon loginrei" style="color: red;"></i>
                        <i ng-show="myNameForm.name.$error.pattern" class="icon ion-android-alert placeholder-icon loginrei" style="color: red;"></i>
                    </span>
                </label>
                <label class="item item-input item-floating-label">
                    <span>联系电话</span>
                    <input type="tel" placeholder="请输入联系人电话" ng-model="user.phone" required name="phone" ng-pattern="/^1\d{10}$/">
                    <span ng-show="myNameForm.phone.$dirty && myNameForm.phone.$invalid">
                        <i ng-show="myNameForm.phone.$error.required" class="icon ion-android-alert placeholder-icon loginrei" style="color: red;"></i>
                        <i ng-show="myNameForm.phone.$error.pattern" class="icon ion-android-alert placeholder-icon loginrei" style="color: red;"></i>
                    </span>
                </label>
                <label class="item item-input item-floating-label">
                    <span>联系人邮件</span>
                    <input type="email" placeholder="请输入您的邮件" ng-model="user.email" required name="email" >
                    <span ng-show="myNameForm.email.$dirty && myNameForm.email.$invalid">
                        <i ng-show="myNameForm.email.$error.required" class="icon ion-android-alert placeholder-icon loginrei" style="color: red;"></i>
                        <i ng-show="myNameForm.email.$error.email" class="icon ion-android-alert placeholder-icon loginrei" style="color: red;"></i>
                    </span>
                </label>
                <label class="item item-input item-floating-label">
                    <span>您的地址&nbsp;&nbsp;<span style="font-size: 70%;color: #FF5F5F;">用于接收赠送礼盒</span></span>
                    <input type="text" placeholder="请输入您的地址"  ng-model="user.address" required name="address">
                    <span ng-show="myNameForm.address.$dirty && myNameForm.address.$invalid">
                        <i ng-show="myNameForm.address.$error.required" class="icon ion-android-alert placeholder-icon loginrei" style="color: red;"></i>
                    </span>
                </label>
            </div>
            </div>
            <button ng-click="addAddress()" ng-disabled="myNameForm.$invalid" class="button button-block button-positive">保&nbsp;&nbsp;存</button>
        </form>
    </div>
</div>
</body>
<script src="__PUBLIC__/Mobile/lib/ionic/js/ionic.bundle.min.js"></script>
<script src="__PUBLIC__/Mobile/js/app.js" type="text/javascript"></script>
<script src="__PUBLIC__/Mobile/lib/ionic/js/ionic-ratings.js"></script>
<script src="__PUBLIC__/Mobile/js/common.js"></script>
</html>

