<extend name="tpl:base" />
<block name="title">
<title>自驾游评价</title>
</block>
<block name="css">
</block>
<block name="main">
<div ng-app="myApp" ng-controller="articleCtrl">
<include file="tpl:nav"/>
    <!-- content -->
    <div class="zjycontop" ng-click="totop()">
            <i class="ion-arrow-up-a" style=""></i><br>顶
        </div>
    <ion-content on-scroll="hiDiv()" class=" scroll-content has-header" style="">
        <div class="zjyconcatetitle">
            <span id="zjyconcatet">{$data.cat.catName}</span>
        </div>
        <hr style="width:90%;margin:0 auto;  ">
        <div class="zjyconcatelist">
            <volist name="data.articles" id="vo">
            <div class="zjycontent">
                <div class="zjycontenttitle">
                    {$vo.articleTitle}
                </div>
                <div class="zjycontentmsg">
                    {$vo.articleContent}
                </div>
            </div>
            </volist>
        </div>
    </ion-content>
</div>
</block>
<block name="js">
<script>
</script>
</block>














































