<extend name="tpl:base" />
<block name="title">
<title>自驾游评价</title>
</block>
<block name="css">
</block>
<block name="main">
<div ng-app="myApp" ng-controller="articleCtrl">
<include file="tpl:nav"/>
    <!-- content -->
    <div class="zjycontop" ng-click="totop()">
            <i class="ion-arrow-up-a" style=""></i><br>顶
        </div>
    <ion-content class=" scroll-content has-header" style="">
        <div class="zjyconcatetitle">
            <span id="zjyconcatet">{$data.cat.catName}</span>
        </div>
        <hr style="width:90%;margin:0 auto;  ">
        <div class="zjyconcatelist">
            <volist name="data.articles" id="vo">
            <div class="zjycontent">
                <div class="zjycontenttitle">
                    {$vo.articleTitle}
                </div>
                <div class="zjycontentmsg">
                    {$vo.articleContent}
                </div>
            </div>
            </volist>
            <div class="zjycontent">
                <div class="zjycontenttitle">
                    您的旅行省心吗
                </div>
                <div class="zjycontentmsg">
                     从机票、酒店、签证到行程攻略、接送机以及目的地安排，我们为您搞定。

不用您从几百家酒店内做头疼的甄选，发现旅行的专家团队为您精选了目的地酒店。

对目的地不了解，没有问题，发现旅行的专家为您专属定制《目的地攻略》参考行程，不用您再为如何安排行程烦恼。

自己填写几十页签证表格，准备材料，无比头疼，没事，我们为您搞定。 
                </div>
            </div>
            <div class="zjycontent">
                <div class="zjycontenttitle">
                    您的旅行省心吗
                </div>
                <div class="zjycontentmsg">
                     从机票、酒店、签证到行程攻略、接送机以及目的地安排，我们为您搞定。

不用您从几百家酒店内做头疼的甄选，发现旅行的专家团队为您精选了目的地酒店。

对目的地不了解，没有问题，发现旅行的专家为您专属定制《目的地攻略》参考行程，不用您再为如何安排行程烦恼。

自己填写几十页签证表格，准备材料，无比头疼，没事，我们为您搞定。 
                </div>
            </div>
            <div class="zjycontent">
                <div class="zjycontenttitle">
                    您的旅行省心吗
                </div>
                <div class="zjycontentmsg">
                     从机票、酒店、签证到行程攻略、接送机以及目的地安排，我们为您搞定。

不用您从几百家酒店内做头疼的甄选，发现旅行的专家团队为您精选了目的地酒店。

对目的地不了解，没有问题，发现旅行的专家为您专属定制《目的地攻略》参考行程，不用您再为如何安排行程烦恼。

自己填写几十页签证表格，准备材料，无比头疼，没事，我们为您搞定。 
                </div>
            </div>
            <div class="zjycontent">
                <div class="zjycontenttitle">
                    您的旅行省心吗
                </div>
                <div class="zjycontentmsg">
                     从机票、酒店、签证到行程攻略、接送机以及目的地安排，我们为您搞定。

不用您从几百家酒店内做头疼的甄选，发现旅行的专家团队为您精选了目的地酒店。

对目的地不了解，没有问题，发现旅行的专家为您专属定制《目的地攻略》参考行程，不用您再为如何安排行程烦恼。

自己填写几十页签证表格，准备材料，无比头疼，没事，我们为您搞定。 
                </div>
            </div>
        </div>
    </ion-content>
</div>
</block>
<block name="js">
<script>
</script>
</block>














































