<extend name="tpl:base" />
<block name="title">
<title>自驾游评价</title>
</block>
<block name="css">
</block>
<block name="main">
<div ng-app="myApp" ng-controller="articleCtrl">
<ion-header-bar class="bar bar-light">
    <div id="myuser" style="display: none;">
        <empty name="Users">
        <div>
            <a ng-click="userLogin()">登录</a>
        </div>
        <div style="line-height: 40px;color:#72C7DD;">
            <a ng-click="userRegister()">注册</a>
        </div>
        <else />
        <div>
            <a href="{:U('Mobile/Users/index')}">我的账户</a>
        </div>
        <div style="line-height: 40px;color:#72C7DD;">
            <a href="{:U('Mobile/Orders/index')}">我的订单</a>
        </div>
        </empty>
    </div>
    <a class="button button-clear" onclick="javascript:history.back(-1);">
        <i class="ion-chevron-left" style="color:#6CC5DC;font-size: 19px;margin-left: 5px;">&nbsp;&nbsp;返回</i>
    </a>
    <a class="button button-clear " ng-click="userShow()" style="color: #66BDE0;    margin-top: -2px;"><i class="icon ion-navicon-round"></i></a>
</ion-header-bar>
<script>
    $(function(){
        $("ion-content").click(function(event) {
            var traget = document.getElementById("myuser");
              if(traget.style.display == ""){
                 traget.style.display = "none";
             }
        });
    })
</script>
    <!-- content -->
    <div class="zjycontop" ng-click="totop()">
            <i class="ion-arrow-up-a" style=""></i><br>顶
        </div>
    <ion-content on-scroll="hiDiv()" class=" scroll-content has-header" style="">
        <div class="zjyconcatetitle">
            <span id="zjyconcatet">{$data.cat.catName}</span>
        </div>
        <hr style="width:90%;margin:0 auto;  ">
        <div class="zjyconcatelist">
            <volist name="data.articles" id="vo">
            <div class="zjycontent">
                <div class="zjycontenttitle">
                    {$vo.articleTitle}
                </div>
                <div class="zjycontentmsg">
                    {$vo.articleContent}
                </div>
            </div>
            </volist>
        </div>
    </ion-content>
</div>
</block>
<block name="js">
<script>
</script>
</block>














































