<extend name="tpl:base" />
<block name="title">
<title>自驾游评价</title>
</block>
<block name="css">
</block>
<block name="main">
<div ng-app="myApp" ng-controller="dCommentCtrl">
<include file="tpl:nav"/>
    <!-- content -->
    <ion-content id="content-index" class=" scroll-content has-header" style="background: #f5f5f5;">
        <div class="card gocomment">
            <div class="item item-text-wrap">
                <span>订单号</span>
                <span style="float:right;">{$Orders.orderNo}</span>
            </div>
            <div class="item item-text-wrap">
                <span>成人</span>
                <span style="float:right;">{$Orders.adultNum}人 x {$Orders.adultPrice}人/元</span>
            </div>
            <div class="item item-text-wrap">
                <span>儿童</span>
                <span style="float:right;">{$Orders.childNum}人 x {$Orders.childPrice}人/元</span>
            </div>
            <div class="item item-text-wrap">
                <span>房间</span>
                <span style="float:right;">{$Orders.roomNum}房 <if condition="$Orders['roomPrice'] gt 0">x {$Orders.roomPrice}房/元</if></span>
            </div>
            <if condition="$Orders['zMoney'] gt 0 ">
            <div class="item item-text-wrap">
                <span>优惠</span>
                <span style="float:right;">{$Orders.zMoney} 元</span>
            </div>
           </if>
            <div class="item item-text-wrap">
                <span>合计价格</span>
                <span class="pricecolor" style="float:right;">{$Orders.totalMoney} 元</span>
            </div>
        </div>
         <div class="card" style="padding:16px;">
              <input type="hidden" id="cOrderId" value="{$Orders['orderId']}" />
             <div class="item item-text-wrap">
                        在此评论
             </div>
             <div class="item item-text-wrap">
                      <textarea style="width:100%;height:100px;" ng-model="con.conT" placeholder="对于这次旅行您想说点什么呢！"></textarea>
             </div>
              <div class="item item-text-wrap">
                      请给我们打个分吧!<span  id="myratings"  style="float:right;color:#F53C10;font-size: 130%"></span>
             </div>
             <div class="item item-text-wrap">
                      <ionic-ratings style="font-size: 30px;" controller="dCommentCtrl" ratingsobj='ratingsObject'></ionic-ratings>
             </div>
        </div>
            <div class="row">
            <div style="width:100%;">
                <a ng-click="addComment()">
                    <button class="button button-block " style="background:#F77462;color:#fff;">提交评论</button>
                </a>
            </div>
        </div>

    </ion-content>
</div>
</block>
<block name="js">
<script>
</script>
</block>
