<extend name="tpl:base" />
<block name="title">
<title>订单确认</title>
</block>
<block name="main">
<div ng-app="myApp" ng-controller="OrderDrvCtrl">
<include file="tpl:nav" />
<!-- content -->
<form name="myAddress" novalidate>
<ion-content overflow-scroll="false" id="content-index" class="scroll-content has-header" style="    background: #f5f5f5;">
<input type="hidden" id="orderId" value="{$orderId}" />
    <div class="row" style=" padding: 8px;margin-bottom: 8px;">
        <div class="" style=" line-height: 180%;width: 100%;    background: #fff; padding:8px;">
            <p><span><strong><b>{$obj.goodsName}</b></strong></span><span style="color:#F77766;float:right;">{$obj.drivesType}&nbsp;{$obj.adultPrice}元/人</span></p>
            <p style="    clear: both;">
                <span style="">{$obj.drivesTo}</span>
                <span style="background:#FFD679;color:#fff;float:right;    padding: 0 20px;">{$obj['drivesDay']-1}晚{$obj['drivesDay']}夜跨境自驾自由行</span>
            </p>
            <p  style="    clear: both;">
                出发时间： <span>{$obj.toTime}</span>
            </p>
            <p>
                结束时间： <span>{$obj.endTime}</span>
            </p>
        </div>
    </div>
    <div class="list" style="padding:8px;">
        <div class="item item-text-wrap">
            <p style="color:#FFA209;">不同的出发日期，酒店会有不同，请仔细确认</p>
        </div>
        <div>
            {$obj.goodsDrvivesTime|htmlspecialchars_decode}
        </div>
    </div>
    <div class="card">
        <div class="item item-text-wrap">
            成人
            <span style="float:right;"><span id="manNum">{$obj.adultNum}</span>人x <span>{$obj.adultPrice}</span>元/人</span>
        </div>
        <div class="item item-text-wrap">
            儿童
            <span style="float:right;"><span id="childNum">{$obj.childNum}</span>人x <span>{$obj.childPrice}</span>元/人</span>
        </div>
        <div class="item item-text-wrap">
            用房数
            <span style="float:right;">1标准双床房</span>
        </div>
        <div class="item item-text-wrap">
            单房差
            <span style="float:right;">￥<span>{$obj['roomNum']*$obj['roomPrice']}</span>元</span>
        </div>
        <div class="item item-text-wrap" style="color:#F88B7D;">
            合计总价
            <span style="float:right;">￥<span id="totalMoney">{$obj.totalMoney}</span>元</span>
        </div>
    </div>
    <div class="card">
        <p style="padding:10px;line-height: 150%;">全程酒店为标准双床房，如需安排标准大床房请勾选，我社工作人员将根据酒店情况尽量为您安排，但不保证能满足您的要求，敬请谅解！</p>
        <ion-checkbox id="bigRoom" ng-model="isChecked.checked" ng-checked="isChecked.checked">尽量安排标准大床房</ion-checkbox>
    </div>
    <div class="card" style="">
        <div class="item item-text-wrap defaultaddr">
        <h2>使用默认地址</h2>
            <input type="hidden" id="addressId" value="{{addRess.addressId}}" />
            <span>{{addRess.userName}}</span>
            <span style="float:right;">
                {{addRess.userPhone}}
            </span>
            <p><span>{{addRess.userEmail}}</span></p>
            <p><span>{{addRess.address}}</span></p>
        </div>
        <div ng-click="showAddress()" class="item item-divider">
            <span>
            <i  id="uselinkman" class="icon ion-android-radio-button-off placeholder-icon" style="color:#12f;"></i>添加新地址</span>
        </div>
    </div>
    <div class="card linkmanfrom" style="display: none;" >
        <div class="list">
            <label class="item item-input item-floating-label">
                <div style="padding:10px;">
                    <p style="font-size: 18px;">
                        联系人信息<span style="font-size: 13px;"> 一个订单一位联系人即可</span>
                    </p>
                </div>
            </label>
            <label class="item item-input item-floating-label">
                    <span>联系人</span>
                    <input type="text" placeholder="请输入(只能中文)联系人姓名" ng-model="isUser.name" required name="name" id="userName" ng-pattern="/[\u4e00-\u9fa5]/">
                    <span ng-show="myAddress.name.$dirty && myAddress.name.$invalid">
                        <i ng-show="myAddress.name.$error.required" class="icon ion-android-alert placeholder-icon loginrei" style="color: red;"></i>
                        <i ng-show="myAddress.name.$error.pattern" class="icon ion-android-alert placeholder-icon loginrei" style="color: red;"></i>
                    </span>
                </label>
                <label class="item item-input item-floating-label">
                    <span>联系电话</span>
                    <input type="tel" placeholder="请输入联系人电话" ng-model="isUser.phone" required name="phone" id="userPhone" ng-pattern="/^1\d{10}$/">
                    <span ng-show="myAddress.phone.$dirty && myAddress.phone.$invalid">
                        <i ng-show="myAddress.phone.$error.required" class="icon ion-android-alert placeholder-icon loginrei" style="color: red;"></i>
                        <i ng-show="myAddress.phone.$error.pattern" class="icon ion-android-alert placeholder-icon loginrei" style="color: red;"></i>
                    </span>
                </label>
                <label class="item item-input item-floating-label">
                    <span>联系人邮件</span>
                    <input type="email" placeholder="请输入您的邮件" ng-model="isUser.email" id="userisEmail" required name="email" >
                    <span ng-show="myAddress.email.$dirty && myAddress.email.$invalid">
                        <i ng-show="myAddress.email.$error.required" class="icon ion-android-alert placeholder-icon loginrei" style="color: red;"></i>
                        <i ng-show="myAddress.email.$error.email" class="icon ion-android-alert placeholder-icon loginrei" style="color: red;"></i>
                    </span>
                </label>
                <label class="item item-input item-floating-label">
                    <span>您的地址&nbsp;&nbsp;<span style="font-size: 70%;color: #FF5F5F;">用于接收赠送礼盒</span></span>
                    <input type="text" placeholder="请输入您的地址"  ng-model="isUser.address" id="userisAddress" required name="address">
                    <span ng-show="myAddress.address.$dirty && myAddress.address.$invalid">
                        <i ng-show="myAddress.address.$error.required" class="icon ion-android-alert placeholder-icon loginrei" style="color: red;"></i>
                    </span>
                </label>
        </div>
    </div>
    <div class="card item-input" style="padding:16px;">
        <textarea ng-model="order.Desc" id="orderddd" placeholder="亲如有特殊要求，请在此处留言，我们会尽快与您联系"></textarea>
    </div>
    <div id="Zcode" class="card">
        <div class="item item-button-right" id="ZcodeAdd">
            我有Z码
            <button ng-click="resizeContent()" id="addZcode" class="button ">&nbsp;&nbsp;<i class="ion-plus-round"></i>&nbsp;&nbsp;</button>
        </div>
        <div  class="item " style="display:none;">
        <input id="allzcodes" type="hidden" />
            已为您优惠<span id="allZcodePrice">0</span>
        </div>
    </div>
    <div class="card">
        <ion-checkbox id="bigRoom" ng-model="isReadMe.checked" ng-checked="isReadMe.checked">已阅读并同意<a href="#" style="color: blue;">《产品订购协议》</a></ion-checkbox>
    </div>
    <div class="row footermessage ">
        <div>
            {$CONF.mallFooter|htmlspecialchars_decode}
        </div>
    </div>
    <div class="row" style="background:#fff ;    font-size: 20px; ">
        <div class="col col-67">
            <p style="margin: 0; line-height: 50px;color: #F77462; font-size: 25px;">应付&nbsp;¥&nbsp;<span id="totalPrice">{$obj['totalMoney']}</span>元</p>
        </div>
        <button ng-show="!addRess" ng-click="odcf()" ng-disabled="myAddress.$invalid" class="col col-33" style="background:#F77462; text-align: center;border: 1px solid #F77462; color: #fff;font-size: 20px">立即支付</button>
        <button ng-show="addRess" ng-click="odcf()"  class="col col-33" style="background:#F77462; text-align: center;border: 1px solid #F77462; color: #fff;font-size: 20px">立即支付</button>
    </div>
</form>
</ion-content>
</div>
</block>
<block name="js">
<script src="__PUBLIC__/Mobile/js/cMdrives.js" type="text/javascript"></script>
</block>
