<extend name="tpl:base" />
<block name="title">
<title>登录</title>
</block>
<block name="main">
<div ng-app="myApp" ng-controller="goLogCtrl">
<ion-header-bar class="bar bar-light">
    <a class="button button-clear" ng-click="ggBack()">
        <i class="ion-chevron-left" style="color:#6CC5DC;font-size: 19px;margin-left: 5px;">&nbsp;&nbsp;返回</i>
    </a>
</ion-header-bar>
    <ion-content  class="scroll-content loginre">
    <input type="hidden" id="totoUrl" value="{$url}"/>
        <form name="mygoForm" novalidate>
        <div class="card">
            <div class="list">
                <label class="item item-input">
                    <i class="icon ion-android-phone-portrait placeholder-icon loginrei"></i>
                    <input type="tel" placeholder="请输入手机号" ng-model="gouser.phone" required name="phone" ng-pattern="/^1\d{10}$/">
                    <span ng-show="mygoForm.phone.$dirty && mygoForm.phone.$invalid">
                    <i ng-show="mygoForm.phone.$error.required" class="icon ion-android-alert placeholder-icon loginrei" style="color: red;"></i>
                    <i ng-show="mygoForm.phone.$error.pattern" class="icon ion-android-alert placeholder-icon loginrei" style="color: red;"></i>
                    </span>
                </label>
                <div class="item item-text loginbutton">
                    <span style="float:right;"><a href="/Mobile/Users/login?url={$url}">密码登陆</a></span>
                    <a>
                        <button ng-click="dogologin(gouser)" ng-disabled="mygoForm.$invalid" class="button button-block">发送验证码</button>
                    </a>
                    <a href="{:U('Mobile/Users/psw')}"><span>忘记密码</span></a>
                    <a href="/Mobile/Users/register?url={$url}"><span class="registerbutton">注册账号</span></a>
                </div>
            </div>
        </div>
        </form>
    </ion-content>
</div>
</block>
<block name="js">
</block>
