<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
<meta name="format-detection" content="telephone=no"/>
<meta content="yes" name="apple-mobile-web-app-capable">
<meta content="black" name="apple-mobile-web-app-status-bar-style">
<title>联系人</title>
<link href="__PUBLIC__/Mobile/lib/ionic/css/ionic.css" rel="stylesheet">
<link href="__PUBLIC__/Mobile/css/custom.css" rel="stylesheet" type="text/css" media="all" />
<script src="__PUBLIC__/Mobile/js/jquery-1.8.0.min.js"></script>
    <style>
    .button {
        line-height: 35px;
        float: right;
        background: #6dc5cc;
        min-height: 4px;
        color: #fff;
    }
    </style>
    </head>
    <body>
<div ng-app="myApp" ng-controller="Lmctrl">
    <ion-header-bar class="bar bar-light">
    <div id="myuser" style="display: none;">
        <empty name="Users">
        <div>
            <a ng-click="userLogin()">登录</a>
        </div>
        <div style="line-height: 40px;color:#72C7DD;">
            <a ng-click="userRegister()">注册</a>
        </div>
        <else />
        <div>
            <a href="{:U('Mobile/Users/index')}">我的账户</a>
        </div>
        <div style="line-height: 40px;color:#72C7DD;">
            <a href="{:U('Mobile/Orders/index')}">我的订单</a>
        </div>
        </empty>
    </div>
    <a class="button button-clear" ng-click="LmBack()">
        <i class="ion-chevron-left" style="color:#6CC5DC;font-size: 19px;margin-left: 5px;">&nbsp;&nbsp;返回</i>
    </a>
    <a class="button button-clear " ng-click="userShow()" style="color: #66BDE0;    margin-top: -2px;"><i class="icon ion-navicon-round"></i></a>
</ion-header-bar>
<script>
    $(function(){
        $("ion-content").click(function(event) {
            var traget = document.getElementById("myuser");
              if(traget.style.display == ""){
                 traget.style.display = "none";
             }
        });
    })
</script>
    <!-- content -->
    <ion-content on-scroll="hiDiv()" id="content-index" class=" scroll-content has-header" style="background: #f5f5f5;">
        <div class="card" ng-repeat="vo in list">
            <div class="item item-text-wrap">
                <span ng-bind="vo.userName"></span>
                <span style="float:right;" ng-bind="vo.userPhone">
                </span>
                <p><span ng-bind="vo.userEmail"></span></p>
                <p><span ng-bind="vo.address"></span></p>
            </div>
            <div class="item item-divider">
                <span ng-if="vo.isDefault == 1">
                <i class="icon ion-android-checkmark-circle placeholder-icon" style="color:#12f;"></i>默认地址</span>
                <span style="float:right;" ng-if="vo.isDefault == 1">
                <i class="iocn ion-trash-a placeholder-icon" style="font-size: 20px" ></i>
                </span>
                <a ng-click="userIsDefault(vo.addressId)"><span ng-if="vo.isDefault == 0">设置为默认地址</span></a>
                <a ng-click="delAddress(vo.addressId)"><span ng-if="vo.isDefault == 0" style="float:right;font-size: 20px"><i class="iocn ion-trash-a" ></i></span></a>
            </div>
        </div>
        <a href="{:U('Mobile/Users/userAddAddress')}">
            <div class="item item-divider positive-bg" style="text-align: center;color:#fff;">
                添加联系人
            </div>
        </a>
    </ion-content>
</div>
</body>
<script src="__PUBLIC__/Mobile/lib/ionic/js/ionic.bundle.min.js"></script>
<script src="__PUBLIC__/Mobile/js/app.js" type="text/javascript"></script>
<script src="__PUBLIC__/Mobile/lib/ionic/js/ionic-ratings.js"></script>
<script src="__PUBLIC__/Mobile/js/common.js"></script>
</html>
