<extend name="tpl:base" />
<block name="title">
<title>{$CONF['mallTitle']}</title>
<meta name="keywords" content="{$CONF['mallKeywords']}" />
<meta name="description" content="{$CONF['mallDesc']}" />
</block>
<block name="main">
<style type="text/css" media="screen">
    .item {
        border:0;
    }
    .bar {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        position: absolute;
        right: 0;
        left: 0;
        z-index: 9;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding: 5px;
        width: 100%;
        height: 50px;
        border-width: 0;
        border-style: solid;
        border-top: 1px solid transparent;
        border-bottom: 1px solid #ddd;
        background-color: white;
        background-size: 0;
    }
    .has-header {
        top: 51px;
    }
</style>
<div ng-app="myApp"  ng-controller="Ixctrl">
    <include file="tpl:inav" />
    <ion-content on-scroll="hiDiv()" overflow-scroll="false" id="content-index"class="scroll-content has-header " style="padding:0;" >
    <!-- 首图 -->
        <div>
             <volist name="Ads" id="item">
            <div>
                <img src="/{$item['adFile']}" alt="" width="100%">
            </div>
            </volist>
        </div>
        <!-- 前言 -->
        <div class="row " style="background: #f5f5f5; padding: 9px;font-size: 14px;">
            <p style="color:#9D9D9D;">{$CONF.mallSmg|htmlspecialchars_decode}</p>
        </div>
        <!-- 自驾游列表 -->
        <ion-list class="zjylist"  >
            <volist name="object" id="item">
            <ion-item class="zjy" >
                <a href="{:U('Mobile/Drives/index',array('drivesId'=>$item['drivesId']))}">
                    <img src="/{$item['drivesImg']}"  width="100%">
                    <div class="row">
                        <div class="col col-67 ionstar">
                        {$item.drivesDesc|htmlspecialchars_decode}
                        </div>
                        <div class="col col-33 price" >
                            <p>
                                <empty name="item.tp">
                                <span style="color:#F77766; ">{$item['adultPrice']}&nbsp;元/人</span>
                                <else />
                                <span style="color:#F77766; ">{$item['tp']['adultPrice']}&nbsp;元/人</span>
                                </empty>
                            </p>
                        </div>
                    </div>
                </a>
            </ion-item>
            </volist>
            <ion-volist></ion-volist>
            <div style="text-align: center;padding: 8px 0;color: #666;">
                <button class="button button-light" ng-click="dMore()">{{dMoreCon}}</button>
                <!-- <span class="icon "></span> -->
                <ion-spinner icon="dots" class="spinner-dark" style="display: none;"></ion-spinner>
            </div>
        </ion-list>
        <!-- 旅行寄语 -->
        <fieldset style="padding:10px 20px;">
            <legend class="" style="font-size: 16px;text-align: center;border: none;width:100px;">旅行寄语</legend>
            <p>{$CONF.travelMessage|htmlspecialchars_decode}</p>
        </fieldset>
        <!-- 选择我们 -->
        <div class="row" style="text-align: center;">
            <div class="col col-33">
                <hr>
            </div>
            <div class="col col-33" style="font-size: 80%;"> 为什么选择我们 </div>
            <div class="col col-33">
                <hr>
            </div>
        </div>
        <div class="row selectus" >
            <div class="col col-33" style=" ">
                <img src="__PUBLIC__/Mobile/img/pic_1.png" alt="">
                <h5>自驾游<br/>有保障</h5>
                <p>自驾游不拼命、不冒险，专业团队为您保驾护航，让您顺畅游走天地间</p>
            </div>
            <div class="col col-33" style="    padding: 10px;">
                <img src="__PUBLIC__/Mobile/img/pic_2.png" alt="">
                <h5>旅游<br/>省心</h5>
                <p>车辆、酒店、签证、攻略、目的地安排，一站式为你搞定。</p>
            </div>
            <div class="col col-33" style="    padding: 10px;">
                <img src="__PUBLIC__/Mobile/img/pic_3.png" alt="">
                <h5>旅游需要<br/>升级</h5>
                <p>传统观光游，还是要自在的旅行，与目的地深度对话</p>
            </div>
        </div>
        <div class="row contents" >
            <div class="col col-33" >
                <div class="contentsdiv" >
                    <a href="/Mobile/Articles/index/id/1">为什么选择<br/>要自在旅行</a>
                </div>
            </div>
            <div class="col col-33" >
                <div class="contentsdiv" >
                    <a href="/Mobile/Articles/index/id/2"  >常见问题<br/>与答案</a>
                </div>
            </div>
            <div class="col col-33" >
                <div class="contentsdiv" >
                    <a href="/Mobile/Articles/index/id/3" class="oneline" >合作信息</a>
                </div>
            </div>
        </div>
        <div class="row contents" >
            <div class="col col-33" >
                <div class="contentsdiv" >
                    <a href="/Mobile/Articles/index/id/4" class="oneline" >公司信息</a>
                </div>
            </div>
            <div class="col col-33" >
                <div class="contentsdiv" >
                    <a href="/Mobile/Articles/index/id/5" class="oneline">联系我们</a>
                </div>
            </div>
            <div class="col col-33" >
                <div class="contentsdiv" >
                    <a href="/Mobile/Articles/index/id/6" class="oneline" >加入我们</a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col col-50" style="padding: 10px;">
                <img src="__PUBLIC__/Mobile/img/erweima.jpg" alt="" width="100%">
            </div>
            <div class="col col-50" style="padding: 10px;">
                <p>关注微信号 gozztrip</p>
                <p>也可以长按二维码保存图片</p>
                <p>在微信“扫一扫”中打开图片关注</p>
            </div>
        </div>
        <div class="row" style="text-align: center;">
            <div class="col col-33">
                <hr>
            </div>
            <div class="col col-33" style="font-size: 80%;"> 为什么关注微信 </div>
            <div class="col col-33">
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col col-20" style="text-align: right;">
                <img src="__PUBLIC__/Mobile/img/gou.png" alt="" width="">
            </div>
            <div class="col col-80">
                <p>旅行顾问借助微信公众号和您形成互通</p>
            </div>
        </div>
        <div class="row">
            <div class="col col-20" style="text-align: right;">
                <img src="__PUBLIC__/Mobile/img/gou.png" alt="" width="">
            </div>
            <div class="col col-80">
                <p>查看订单状态？预定特色项目？出行前各种疑问？</p>
            </div>
        </div>
        <div class="row">
            <div class="col col-20" style="text-align: right;">
                <img src="__PUBLIC__/Mobile/img/gou.png" alt="" width="">
            </div>
            <div class="col col-80">
                <p>贴心行程、目的地突发状况反馈</p>
            </div>
        </div>
        <div name="footerme" class="row footermessage " >
            <div >
                {$CONF.mallFooter|htmlspecialchars_decode}
            </div>
        </div>
    </ion-content>
</div>
</block>
<block name="js">
</block>