<extend name="tpl:base" />
<block name="title">
<title>密码找回</title>
</block>
<block name="css">
<style>
    .loginre .sendmessage .messagepstext {
      background: #6cc5dc;
      /* padding: 0px 0px; */
      color: #fff;
      }
</style>
</block>
<block name="main">
<div ng-app="myApp" ng-controller="pswCtrl">
<ion-header-bar class="bar bar-light">
    <a class="button button-clear" ng-click="pwBack()">
        <i class="ion-chevron-left" style="color:#6CC5DC;font-size: 19px;margin-left: 5px;">&nbsp;&nbsp;返回</i>
    </a>
</ion-header-bar>
<!-- content -->
<ion-content class=" scroll-content loginre">
    <div class="card">
    <form name="mypwsForm" novalidate>
        <div class="list">
            <label class="item item-input">
                <i class="icon ion-android-phone-portrait placeholder-icon loginrei"></i>
                <input type="tel" placeholder="请输入手机号" ng-model="pws.phone" required name="phone" ng-pattern="/^1\d{10}$/">
                <span ng-show="mypwsForm.phone.$dirty && mypwsForm.phone.$invalid">
                <i ng-show="mypwsForm.phone.$error.required" class="icon ion-android-alert placeholder-icon loginrei" style="color: red;"></i>
                <i ng-show="mypwsForm.phone.$error.pattern" class="icon ion-android-alert placeholder-icon loginrei" style="color: red;"></i>
                </span>
            </label>
            <div class="item item-input">
                <i class="icon ion-paper-airplane placeholder-icon loginreii"></i>
                <input type="text" placeholder="输入6验证码" ng-minlength="6" ng-model="pws.smscode" required name="smscode">
                <span ng-show="mypwsForm.smscode.$dirty && mypwsForm.smscode.$invalid">
                <i ng-show="mypwsForm.smscode.$error.required" class="icon ion-android-alert placeholder-icon loginrei" style="color: red;"></i>
                <i ng-show="mypwsForm.smscode.$error.minlength" class="icon ion-android-alert placeholder-icon loginrei" style="color: red;"></i>
                </span>
                <span class="sendmessage"><button class="button buttonsms {{smsClass}}" style="height: 25px" ng-click="smsPws(pws.phone)" ng-disabled="mypwsForm.phone.$invalid" ng-bind="text"></button></span>
            </div>
            <label class="item item-input">
                <i class="icon ion-locked placeholder-icon loginrei"></i>
                <input type="password" placeholder="请输入6到12位的密码" ng-minlength="6" ng-maxlength="12" ng-model="pws.password" required name="password">
                <span ng-show="mypwsForm.password.$dirty && mypwsForm.password.$invalid">
                <i ng-show="mypwsForm.password.$error.required" class="icon ion-android-alert placeholder-icon loginrei" style="color: red;"></i>
                <i ng-show="mypwsForm.password.$error.minlength" class="icon ion-android-alert placeholder-icon loginrei" style="color: red;" ></i>
                <i ng-show="mypwsForm.password.$error.maxlength" class="icon ion-android-alert placeholder-icon loginrei" style="color: red;" ></i>
                </span>
            </label>
            <div class="item item-text loginbutton">
                <a>
                    <button ng-click="dopsw(pws)" ng-disabled="mypwsForm.$invalid" class="button button-block">修&nbsp;&nbsp;改</button>
                </a>
            </div>
        </div>
    </form>
    </div>
</ion-content>
</div>
</block>
<block name="js">
</block>