<extend name="tpl:base" />
<block name="title">
<title>注册</title>
</block>
<block name="css">
    <style>
    .checkbox input:after,
        .checkbox-icon:after{
            top: 15%;
            left: 20%;
        }
        .buttonsms {
            min-height: 35px;
            line-height: 7px;
        }
    </style>
</block>
<block name="main">
<div ng-app="myApp" ng-controller="regCtrl">
    <ion-header-bar class="bar bar-light">
    <a class="button button-clear" ng-click="rgBack()">
        <i class="ion-chevron-left" style="color:#6CC5DC;font-size: 19px;margin-left: 5px;">&nbsp;&nbsp;返回</i>
    </a>
</ion-header-bar>
    <!-- content -->
    <div class="scroll-content loginre" >
    <form name="myReForm" novalidate>
    <input type="hidden" id="goUrl" value="{$url}"/>
        <div class="card">
            <div class="list">
                <label class="item item-input">
                    <i class="icon ion-android-phone-portrait placeholder-icon loginrei"></i>
                    <input type="tel" placeholder="请输入手机号" ng-model="user.phone" required name="phone" ng-pattern="/^1\d{10}$/">
                    <span ng-show="myReForm.phone.$dirty && myReForm.phone.$invalid">
                    <i ng-show="myReForm.phone.$error.required" class="icon ion-android-alert placeholder-icon loginrei" style="color: red;"></i>
                    <i ng-show="myReForm.phone.$error.pattern" class="icon ion-android-alert placeholder-icon loginrei" style="color: red;"></i>
                    </span>
                </label>
                <label class="item item-input">
                    <i class="icon ion-locked placeholder-icon loginrei"></i>
                    <input type="password" placeholder="请输入6到12位的密码" ng-minlength="6" ng-maxlength="12" ng-model="user.password" required name="password">
                    <span ng-show="myReForm.password.$dirty && myReForm.password.$invalid">
                    <i ng-show="myReForm.password.$error.required" class="icon ion-android-alert placeholder-icon loginrei" style="color: red;"></i>
                    <i ng-show="myReForm.password.$error.minlength" class="icon ion-android-alert placeholder-icon loginrei" style="color: red;" ></i>
                    <i ng-show="myReForm.password.$error.maxlength" class="icon ion-android-alert placeholder-icon loginrei" style="color: red;" ></i>
                    </span>
                </label>
                <div class="item item-input">
                    <i class="icon ion-paper-airplane placeholder-icon loginreii"></i>
                    <input type="text" placeholder="输入6验证码" ng-minlength="6" ng-model="user.smscode" required name="smscode">
                    <span ng-show="myReForm.smscode.$dirty && myReForm.smscode.$invalid">
                    <i ng-show="myReForm.smscode.$error.required" class="icon ion-android-alert placeholder-icon loginrei" style="color: red;"></i>
                    <i ng-show="myReForm.smscode.$error.minlength" class="icon ion-android-alert placeholder-icon loginrei" style="color: red;"></i>
                    </span>
                    <span class="sendmessage"><button class="button buttonsms {{smsClass}}" style="height: 25px" ng-click="sms()" ng-disabled="myReForm.phone.$invalid" ng-bind="text"></button></span>
                </div>
                <div class="item item-text-wrap">
                    <span class="loginread">
                        <label class="checkbox" style="width: 18px;height: 18px;padding: 2px 0px;">
                            <input type="checkbox" ng-model="user.readMe" name="readMe" required style="width: 18px;height: 18px">
                        </label>
                        <span class="loginreads" >我已经阅读并同意</span>
                        <a ng-click="openSPopover()">《用户服务条款》</a>
                    </span>
                </div>
                <div class="item item-text-wrap">
                    <a>
                        <button ng-click="doreg()" ng-disabled="myReForm.$invalid" class="button button-block button-calm loginbutton">注&nbsp;&nbsp;册</button>
                    </a>
                </div>
            </div>
        </div>
        </form>
        <script id="mySer.html" type="text/ng-template">
        <ion-modal-view>
            <ion-header-bar>
                <a class="button" style="background:#fff" ng-click="closeSPopover();"><i class="ion-chevron-left  button-light" style="font-size: 18px;width:80px;">&nbsp;返回</i></a>
            </ion-header-bar>
            <ion-content>
                <div class="card baoming">
                    <div class="item item-divider" style="text-align: center;">
                        <h3 ng-bind="articles.articleTitle"></h3>
                    </div>
                    <div class="item item-text-wrap" ng-bind-html="articles.articleContent">
                    </div>
                </div>
            </ion-content>
        </ion-modal-view>
    </script>
    </div>
</div>
</block>
<block name="js">
</block>