<extend name="tpl:base" />
<block name="title">
<title>出境车辆行驶证</title>
</block>
<block name="css">
<style type="text/css">
.a-upload {
    padding: 4px 10px;
    height: 40px;
    line-height: 20px;
    position: relative;
    cursor: pointer;
    color: #888;
    background: #fafafa;
    border: 1px solid #ddd;
    border-radius: 4px;
    overflow: hidden;
    display: inline-block;
    *display: inline;
    *zoom: 1
}

.a-upload input {
    position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    cursor: pointer
}
.a-upload:hover {
    color: #444;
    background: #eee;
    border-color: #ccc;
    text-decoration: none
}
</style>
</block>
<block name="main">
<div ng-app="myApp" ng-controller="carCtrl">
<include file="tpl:nav"/>
    <!-- content -->
    <ion-content id="content-index" class=" scroll-content has-header" style="    background: #f5f5f5;">
        <div class="card  insurance">
            <div class="item item-divider" >
            <input type="hidden" id="orderId" value="{$row['orderId']}">
                <span>订单号：<span>{$row.orderNo}</span></span>
            </div>
            <div class="item item-text-wrap insurancepeo">
                <span>{$row.adultNum}</span><span>成人</span>
                <span>{$row.childNum}</span><span>儿童</span>
                <input type="hidden" id="len" value="<php>echo ceil($row[adultNum]/3);</php>"><br/>
                <span>需上传 <b><php>echo ceil($row[adultNum]/3);</php></b> 份驾驶证</span>
            </div>
            <div class="item item-text-wrap">
                <span>凡在本行程中需要驾驶车辆的人员均提供有效驾驶证信息。用于制作驾驶证标准英文翻译件、翻译件用于在国外发生检查时提供警察查看所用</span>
            </div>
        </div>
        <div class="card">
            <label class="item item-text-wrap ">
                <p style="font-size: 18px;">
                    上传示例<p style="font-size: 13px;"> 一个订单一位联系人即可，三个成人需上传一份驾驶证，含正反面，以此类推</p>
                </p>
            </label>
            <div class="item item-text-wrap">
                <h2>驾驶证正本正面</h2>
                <div style="border: 1px solid #f2f2f2;
                min-height: 120px; text-align: center;vertical-align:middle;">
                    <for start="0" end="ceil($row[adultNum]/3)" step="1">
                        <iframe name="upload" style="display:none"></iframe>
                        <form id="uploadform_Z{$i}" autocomplete="off" enctype="multipart/form-data"  target="upload" method="POST" action="{:U('Home/Base/uploadPics')}" >
                                <div class="div" style="padding: 10px">
                                   <a href="javascript:;" class="a-upload">
                                       <input  type="file" class="inputstyleZ{$i}" id="inputstyle1" name="Filedata" onchange="updfiles({$i},'Z');">
                                       <span style="font-size: 15px;float: left;padding-top:6px;">上传第{$i+1}份正面图片</span>
                                       <span style="font-size: 30px;float: left;padding-top:6px">+</span>
                                   </a>
                                   <input type="hidden" name="type" value="Z">
                                   <input type="hidden" name="len" value="{$i}">
                                   <input type="hidden" class="picZ" id="picZ{$i}" name="picZ">
                                </div>
                         </form>
                   </for>
                </div>
            </div>
            <div class="item item-text-wrap">
                <h2>驾驶证正本反面</h2>
                <div style="border: 1px solid #f2f2f2;
                min-height: 120px; text-align: center;vertical-align:middle;">
                    <for start="0" end="ceil($row[adultNum]/3)" step="1">
                        <iframe name="upload" style="display:none"></iframe>
                        <form id="uploadform_F{$i}" autocomplete="off" enctype="multipart/form-data"  target="upload" method="POST" action="{:U('Home/Base/uploadPics')}" >
                                <div class="div" style="padding: 10px">
                                   <a href="javascript:;" class="a-upload" style="position:relative ">
                                       <input type="file" class="inputstyleF{$i}" name="Filedata" onchange="updfiles({$i},'F');">
                                        <span style="font-size: 15px;float: left;padding-top:6px;">上传第{$i+1}份反面图片</span>
                                       <span style="font-size: 30px;float: left;padding-top:6px">+</span>
                                   </a>
                                   <input type="hidden" name="type" value="F">
                                   <input type="hidden" name="len" value="{$i}">
                                   <input type="hidden" class="picF" id="picF{$i}" name="picF">
                                </div>
                         </form>
                   </for>
                </div>
            </div>
        </div>
        <div class="card">
            <label class="item item-text-wrap ">
                <p style="font-size: 18px;">
                    <span style="font-size: 80%"> 驾驶证需在有效期、亲保证照片清晰</span>
                </p>
            </label>
             <div class="item item-text-wrap">
                <h2>驾驶证正本正面</h2>
                <br/>
                <div id="preview_Z0">
                    <img src="__PUBLIC__/Mobile/img/car1.png" alt="" width="100%">
                </div>
                 <for start="0" end="ceil($row[adultNum]/3)" step="1">
                     <div id="preview_Z{$i}">
                     </div>
                 </for>
            </div>
             <div class="item item-text-wrap">
                <h2>驾驶证正本反面</h2>
                <br/>
                <div id="preview_F0">
                    <img src="__PUBLIC__/Mobile/img/car2.png" alt="" width="100%">
                </div>
              <for start="0" end="ceil($row[adultNum]/3)" step="1">
                     <div id="preview_F{$i}">
                     </div>
              </for>
            </div>
        </div>

        <div class="row">
            <div style="width:100%;">
                <a ng-click="carLic()">
                    <button class="button button-block" style="background:#F77462;color:#fff;">提交资料</button>
                </a>
            </div>
        </div>
    </ion-content>
</div>
</block>
<block name="js">
<script>
</script>
<script src="__PUBLIC__/Mobile/js/upload.js"></script>
</block>
