<extend name="tpl:base" />
<block name="title">
<title>我的订单</title>
</block>
<block name="main">
<div ng-app="myApp" ng-controller="userInCtrl">
<include file="tpl:nav"/>
    <!-- content -->
    <ion-content id="content-index" class=" scroll-content has-header" style="background: #f5f5f5;">
        <div class="card  insurance">
        <input type="hidden" id="orderId" value="{$row['orderId']}">
            <div class="item item-divider" >
                <span>订单号：<span> {$row.orderNo}</span></span>
            </div>
            <div class="item item-text-wrap insurancepeo">
                <span id="adultNum">{$row.adultNum}</span><span>成人</span>
                <span>{$row.childNum}</span><span>儿童</span>
            </div>
            <div class="item item-text-wrap">
                <span>被保险人信息要填下&nbsp;<em style="color: red;">{$row.adultNum}</em>&nbsp;个人（请按护照信息录入）</span>
            </div>
        </div>
        <div class="card">
            <label class="item item-input">
                <span class="input-label">姓名：<span>试试</span></span>
            </label>
            <label class="item item-input">
                <span class="input-label">护照号码：<span>试试</span></span>
            </label>
            <label class="item item-input" style="padding:0 0 0 16px;">
                <span class="input-label">性别：<span id="sex">男</span></span>
            </label>
            <label class="item item-button-right" >
                <!-- <span class="" style="float: right;">修改</span> -->
                <button type="button button-">修改</button>
            </label>
        </div>
        <div class="card">
            <label class="item item-input">
                <span class="input-label">姓名：</span>
                <input type="text" ng-model="oUser.userName">
            </label>
            <label class="item item-input">
                <span class="input-label">护照号码：</span>
                <input type="text" ng-model="oUser.userCard">
            </label>
            <label class="item item-input" style="padding:0 0 0 16px;">
                <span class="input-label">性别</span>
                <ion-radio ng-repeat="item in sexlist" ng-value="item.value" ng-model="oUser.sex" ng-change="serverSideChange(item)">
                    {{ item.text }}
                </ion-radio>
            </label>
        </div>
        <div class="row">
            <div style="width:100%;">
                <a ng-click="userIn()">
                    <button class="button button-block " style="background:#F77462;color:#fff;">提交资料</button>
                </a>
            </div>
        </div>
    </ion-content>
</div>
</block>
<block name="js">
<script>
</script>
</block>
