<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
<meta name="format-detection" content="telephone=no"/>
<meta content="yes" name="apple-mobile-web-app-capable">
<meta content="black" name="apple-mobile-web-app-status-bar-style">
<title>被保险人信息</title>
<link href="__PUBLIC__/Mobile/lib/ionic/css/ionic.css" rel="stylesheet">
<link href="__PUBLIC__/Mobile/css/custom.css" rel="stylesheet" type="text/css" media="all" />
<script src="__PUBLIC__/Mobile/js/jquery-1.8.0.min.js"></script>
    <style>
    .button {
        line-height: 35px;
        float: right;
        background: #6dc5cc;
        min-height: 4px;
        color: #fff;
    }
    </style>
    </head>
    <body>
<div ng-app="myApp" ng-controller="userInCtrl">
<ion-header-bar class="bar bar-light">
    <div id="myuser" style="display: none;">
        <empty name="Users">
        <div>
            <a ng-click="userLogin()">登录</a>
        </div>
        <div style="line-height: 40px;color:#72C7DD;">
            <a ng-click="userRegister()">注册</a>
        </div>
        <else />
        <div>
            <a href="{:U('Mobile/Users/index')}">我的账户</a>
        </div>
        <div style="line-height: 40px;color:#72C7DD;">
            <a href="{:U('Mobile/Orders/index')}">我的订单</a>
        </div>
        </empty>
    </div>
    <a class="button button-clear" ng-click="userInBack()">
        <i class="ion-chevron-left" style="color:#6CC5DC;font-size: 19px;margin-left: 5px;">&nbsp;&nbsp;返回</i>
    </a>
    <a class="button button-clear " ng-click="userShow()" style="color: #66BDE0;    margin-top: -2px;"><i class="icon ion-navicon-round"></i></a>
</ion-header-bar>
<script>
    $(function(){
        $("ion-content").click(function(event) {
            var traget = document.getElementById("myuser");
              if(traget.style.display == ""){
                 traget.style.display = "none";
             }
        });
    })
</script>
    <!-- content -->
    <ion-content on-scroll="hiDiv()" id="content-index" class=" scroll-content has-header" style="background: #f5f5f5;">
        <div class="card  insurance">
        <input type="hidden" id="orderId" value="{$row['orderId']}">
        <input type="hidden" id="iOrderId" value="{$row['orderId']}" />
            <div class="item item-divider" >
                <span>订单号：<span> {$row.orderNo}</span></span>
            </div>
            <div class="item item-text-wrap insurancepeo">
                <span id="adultNum">{$row.adultNum}</span><span>成人</span>
                <span id="childNum">{$row.childNum}</span><span>儿童</span>
            </div>
            <div class="item item-text-wrap">
                <span>被保险人信息请按护照信息录入，请仔细确认，提交后不可更改，&nbsp;&nbsp;如未能一次性录入，保存后可再次进入我的订单（点击被保险人，继续录入）</span>
            </div>
        </div>
        <div ng-show="inUser">
            <div class="card" ng-repeat="vo in inUser">
                <label class="item item-divider">
                    <span class="">姓名：<span>{{vo.userName}}</span></span>&nbsp;&nbsp;&nbsp;&nbsp;
                    <span class="">性别：
                    <span ng-if="vo.sex == 1 ">男</span>
                    <span ng-if="vo.sex == 2 ">女</span>
                    </span>
                </label>
                <label class="item item-divider">
                    <span class="input-label">护照号码：{{vo.userCard}}</span>
                </label>
                <label class="item item-divider" style="padding:0;" ng-if="isShow == false">
                    <button ng-click="inEdit(vo.insuredId)" class="button" style="float: right;color: #FB6B9C;"><i class="ion-trash-a"></i>&nbsp;删除</button>
                </label>
            </div>
        </div>
        <form name="oUserIn" novalidate ng-if="isShow == false">
        <div class="card" ng-if="isShowadd == false">
            <label class="item item-input">
                <span class="input-label">&nbsp;姓  &nbsp;名：</span>
                <input type="text" ng-model="oUser.userName" required name="userName">
            </label>
            <label class="item item-input">
                <span class="input-label">护照号码：</span>
                <input type="text" ng-model="oUser.userCard" required name="userCard">
            </label>
            <label class="item item-input" style="padding:0 0 0 16px;">
                <span class="input-label">&nbsp;性  &nbsp;别：</span>
                <ion-radio ng-repeat="item in sexlist" ng-value="item.value" ng-model="oUser.sex" ng-change="serverSideChange(item)">
                    {{ item.text }}
                </ion-radio>
            </label>
        </div>
        <div class="row">
            <div style="width:45%;margin-left:3%;" ng-if="isShowadd == false">
                <button ng-click="addUserIn()" ng-disabled="oUserIn.$invalid" class="button button-block" style="background:#66BDE0;color:#fff;">保存</button>
            </div>
            <div style="width:{{isShowWidth}}%;margin-left:4%;">
                <button ng-click="addUserOrder()" class="button button-block " style="background:#F77462;color:#fff;">提交资料</button>
            </div>
        </div>
        </form>
    </ion-content>
</div>
</body>
<script src="__PUBLIC__/Mobile/lib/ionic/js/ionic.bundle.min.js"></script>
<script src="__PUBLIC__/Mobile/js/app.js" type="text/javascript"></script>
<script src="__PUBLIC__/Mobile/lib/ionic/js/ionic-ratings.js"></script>
<script src="__PUBLIC__/Mobile/js/common.js"></script>
</html>



