<extend name="tpl:base" />
<block name="title">
<title>两国签证</title>
</block>
<block name="css">
<link rel="stylesheet" href="__PUBLIC__/Mobile/css/jquery.spinner.css" />
</block>
<block name="main">
<div ng-app="myApp" ng-controller="visaCtrl">
<include file="tpl:nav" />
<!-- content -->
<form name="visaAddress" novalidate>
<input type="hidden" value="{$visa['visaId']}" id="dvisaId">
<ion-content on-scroll="hiDiv()" id="content-index" overflow-scroll="false" class=" scroll-content has-header" style="    background: #f5f5f5;">
    <div class="card">
        <div class="item item-text-wrap" style="background:#6CC5DC;color:#fff;">
            <span id="dvisaName">{$visa.visaName}</span>基本信息说明
        </div>
        <div class="item item-text-wrap">
            签证类型
            <span style="float:right;">{$visa.visaType}</span>
        </div>
        <div class="item item-text-wrap">
            有效期
            <span style="float:right;">{$visa.visaValidity}</span>
        </div>
        <div class="item item-text-wrap">
            入境次数
            <span style="float:right;">{$visa.visaCount}</span>
        </div>
    </div>
    <div class="card">
    <div class="item item-text-wrap" style="background:#6CC5DC;color:#fff;">
            办理{$visa.visaName}所需资料
        </div>
         <div style="padding:10px;">
                <{$visa.visaDesc|htmlspecialchars_decode}
            </div>
    </div>
    <div class="card">
        <span style="background:#FFD679;width:100%;display:block; padding:3px 0 0 10px;height: 35px;line-height: 30px;">办理实效</span>
            <div style="padding:10px;">
                {$visa.visaTimeManagent|htmlspecialchars_decode}
            </div>
    </div>
    <!-- <div class="card">
    <div class="item item-text-wrap" style="padding:0;">
            <span style="background:#6CC5DC;width:100%;display:block; padding:3px 0 0 10px;height: 40px;line-height: 35px;">您可以选择以下三种方式办理：</span>
            <div class="list">
        <label class="item item-input item-floating-label">
                    <div style="padding:10px;">
                        <p style="">
                            1.特别提示：由于两国签证需分别办理，请于出发日期前15天递交或邮寄所需资料
                        </p>
                    </div>
                </label>
                <label class="item item-input item-floating-label">
                    <div style="padding:10px;">
                        <p style="">
                            2.特别提示：由于两国签证需分别办理，请于出发日期前15天递交或邮寄所需资料
                        </p>
                    </div>
                </label>
                <label class="item item-input item-floating-label">
                    <div style="padding:10px;">
                        <p style="">
                            3.特别提示：由于两国签证需分别办理，请于出发日期前15天递交或邮寄所需资料
                        </p>
                    </div>
                </label>
            </div></div>
    </div> -->
    <div class="card" id="visacard" style="">
        <div class="item item-text-wrap" style="padding:0;">
            <span style="background:#6CC5DC;width:100%;display:block; padding:3px 0 0 10px;height: 40px;line-height: 35px;">填写信息</span>
        </div>
        <div class="item item-text-wrap" style="padding:0;">
            <div class="list">
                <!-- <hr> -->
                    <div class="row" style="padding:6px 0 5px 16px;">
                        <div  style="width:33%;">
                            数量
                        </div>
                        <div  style="width:33%; float:center;">
                            <input id="visaNum" type="text" class="spinnerExample" />
                        </div>
                        <div  style="width:33%;  text-align: right;">
                            <span id="visaPrice" style="color:#F88B7D">{$visa.visaPrice}</span>元/份
                        </div>
                    </div>
                <label class="item item-input item-floating-label">
                    <div style="padding:10px 10px 10px 0px;">
                        总价格<span style="float:right; color:#F88B7D">￥<span id="totalPrice">0</span>元</span>
                    </div>
                </label>
    <div class="card" >
        <div class="item item-text-wrap defaultaddr" ng-show="addRess">
        <h2>使用默认地址</h2>
        <input type="hidden" id="addressId" value="{{addRess.addressId}}" />
            <span>{{addRess.userName}}</span>
            <span style="float:right;">
                {{addRess.userPhone}}
            </span>
            <p><span>{{addRess.userEmail}}</span></p>
            <p><span>{{addRess.address}}</span></p>
        </div>
        <div ng-click="showAddress()" class="item item-divider">
            <span>
            <i  id="uselinkman" class="icon ion-android-radio-button-off placeholder-icon" style="color:#12f;"></i>添加新地址</span>
        </div>
    </div>
    <div class="card linkmanfrom" style="display: none;">
        <div class="list">
            <label class="item item-input item-floating-label">
                <div style="padding:10px;">
                    <p style="font-size: 18px;">
                        联系人信息<span style="font-size: 13px;"> 一个订单一位联系人即可</span>
                    </p>
                </div>
            </label>
            <label class="item item-input item-floating-label">
                    <span>联系人</span>
                    <input type="text" placeholder="请输入(只能中文)联系人姓名" ng-model="isVisa.name" required name="name" id="userName" ng-pattern="/[\u4e00-\u9fa5]/">
                    <span ng-show="visaAddress.name.$dirty && visaAddress.name.$invalid">
                        <i ng-show="visaAddress.name.$error.required" class="icon ion-android-alert placeholder-icon loginrei" style="color: red;"></i>
                        <i ng-show="visaAddress.name.$error.pattern" class="icon ion-android-alert placeholder-icon loginrei" style="color: red;"></i>
                    </span>
                </label>
                <label class="item item-input item-floating-label">
                    <span>联系电话</span>
                    <input type="tel" placeholder="请输入联系人电话" ng-model="isVisa.phone" required name="phone" id="userPhone" ng-pattern="/^1\d{10}$/">
                    <span ng-show="visaAddress.phone.$dirty && visaAddress.phone.$invalid">
                        <i ng-show="visaAddress.phone.$error.required" class="icon ion-android-alert placeholder-icon loginrei" style="color: red;"></i>
                        <i ng-show="visaAddress.phone.$error.pattern" class="icon ion-android-alert placeholder-icon loginrei" style="color: red;"></i>
                    </span>
                </label>
                <label class="item item-input item-floating-label">
                    <span>联系人邮件</span>
                    <input type="email" placeholder="请输入您的邮件" ng-model="isVisa.email" id="userisEmail" required name="email" >
                    <span ng-show="visaAddress.email.$dirty && visaAddress.email.$invalid">
                        <i ng-show="visaAddress.email.$error.required" class="icon ion-android-alert placeholder-icon loginrei" style="color: red;"></i>
                        <i ng-show="visaAddress.email.$error.email" class="icon ion-android-alert placeholder-icon loginrei" style="color: red;"></i>
                    </span>
                </label>
                <label class="item item-input item-floating-label">
                    <span>您的地址&nbsp;&nbsp;</span>
                    <input type="text" placeholder="请输入您的地址"  ng-model="isVisa.address" id="userisAddress" required name="address">
                    <span ng-show="visaAddress.address.$dirty && visaAddress.address.$invalid">
                        <i ng-show="visaAddress.address.$error.required" class="icon ion-android-alert placeholder-icon loginrei" style="color: red;"></i>
                    </span>
                </label>
        </div>
    </div>
        <label class="item item-input item-floating-label" style="text-align: center;">
            <p>付款后请将所需资料仔细检查备齐后寄送至：</p>
            <p>昆明市穿金路白汁小区11-3栋</p>
            <p>昆明春秋国际旅行社有限公司 签证中心（收）</p>
            <p>13888425668 0871-65096386</p>
            <p>邮费自理</p>
        </label>
        </div>
    </div>
    </div>
    <div class="row">
        <div style="width:100%;">
            <a>
                <button ng-click="addVisa()" class="button button-block " style="background:#F77462;color:#fff;">下一步</button>
            </a>
        </div>
    </div>
</ion-content>
</form>
</div>
</block>
<block name="js">
<script type="text/javascript" src="__PUBLIC__/Mobile/js/jquery.spinner.js"></script>
<script>
    $('.spinnerExample').spinner({});
    $("#visaNum").parent().click(function(){
        var totalPrice = $('#visaPrice').html()*$("#visaNum").val();
        $('#totalPrice').html(totalPrice);
    });
</script>
</block>