<div class="bar bar-subheader ">
  <a class="button button-clear" href="#main"><img src="img/ionic.png" height="32px" width="" 
        style="    margin-left: 20px; color:#6CC5DC;" ></a>
  <!-- <i class="ion-navicon-round"></i> -->
  <h1 class="title"></h1>

  <a class="button button-clear icon ion-navicon-round"></a>
</div>

<ion-view  view-title="" id="contents" style="margin-top: 44px;">
  <ion-content class="padding"  >
    <div class="" ng-repeat="con in cons" >

    <p  ng-bind-html="con.lastText"></p>

    </div>
  </ion-content>
</ion-view>
<script >
      $(function(){
            
      });

</script>
