<div class="bar bar-subheader ">
  <a class="button button-clear" href="#main"><img src="img/ionic.png" height="32px" width="" 
        style="    margin-left: 20px; color:#6CC5DC;" ></a>
  <!-- <i class="ion-navicon-round"></i> -->
  <h1 class="title"></h1>

  .<a class="button button-clear icon ion-navicon-round" style="float:right;"></a>
  <div class="" style="background:#F5F5F5;width: 80px;
    text-align: center;margin-top: 44px;
    height: 80px;float: right;" >
      <div class="" style="line-height: 40px;color:#72C7DD;">
          <a href="#">我的账户</a>
      </div>
      <div class="" style="line-height: 40px;color:#72C7DD;">
        <a href="#order">我的订单</a>
      </div>
  </div>
</div>

<ion-view view-title="确认支付"  style="margin-top: 44px;">

  <ion-content class="padding">


  
    <h2>订单信息</h2><p>  This is the Ionic starter for tabs-based apps. For other starters and ready-made templates, check out the <a href="http://market.ionic.io/starters" target="_blank">Ionic Market</a>.    </p>    <p>      To edit the content of each tab, edit the corresponding template file in <code>www/templates/</code>. This template is <code>www/templates/tab-dash.html</code>    </p>    <p>      If you need help with your app, join the Ionic Community on the <a href="http://forum.ionicframework.com" target="_blank">Ionic Forum</a>. Make sure to <a href="http://twitter.com/ionicframework" target="_blank">follow us</a> on Twitter to get important updates and announcements for Ionic developers.    </p>    <p>      For help sending push notifications, join the <a href="https://apps.ionic.io/signup" target="_blank">Ionic Platform</a> and check out <a href="http://docs.ionic.io/docs/push-overview" target="_blank">Ionic Push</a>. We also have other services available.    </p>
    <!-- <div class="content padding has-header"> -->
  
    <p></p>
    <!-- <div class="content padding has-header"> -->
<!--       <div class="">价格¥<span>1520</span></div>
      <a  href="#visa"><button class="button  button-calm" href="#book" >确认支付</button></a> -->
     
      <!-- </div -->
    <!-- </div> -->
     <div class="row" style="background: ;    font-size: 20px; ">
        <div class="col col-67">
          <p style="margin: 0; line-height: 50px;color: #F77462; font-size: 25px;">价格&nbsp;¥&nbsp;<span>1520</span></p>
        </div>
        <div class="col col-33" style="background:#F77462; text-align: center;">
          <a href="#paySuccess" style="display: block;    text-decoration: none;">
            <span style="margin: 0; line-height: 50px;color: #fff;">确认支付</span>
          </a>
        </div>
      </div>
  </ion-content>
</ion-view>
