<div class="bar bar-subheader ">
  <a class="button button-clear" href="#main"><img src="img/ionic.png" height="32px" width="" 
        style="    margin-left: 20px; color:#6CC5DC;" ></a>
  <!-- <i class="ion-navicon-round"></i> -->
  <h1 class="title"></h1>

  .<a class="button button-clear icon ion-navicon-round" style="float:right;"></a>
  <div class="" style="background:#F5F5F5;width: 80px;
    text-align: center;margin-top: 44px;
    height: 80px;float: right;" >
      <div class="" style="line-height: 40px;color:#72C7DD;">
          <a href="#">我的账户</a>
      </div>
      <div class="" style="line-height: 40px;color:#72C7DD;">
        <a href="#order">我的订单</a>
      </div>
  </div>
</div>
<ion-view view-title="支付成功"  style="margin-top: 44px;">

  <ion-content class="padding">


  
    <h2>支付成功</h2><p>     </p>
    <!-- <div class="content padding has-header"> -->
  
    <p></p>
           <div class="content padding has-header">
      <a  href="#main"><button class="button button-block button-calm" >返回主页</button></a>
    </div>
      <div class="content padding has-header">
      <a  href="#order"><button class="button button-block button-calm" >查看订单</button></a>
    </div>
  </ion-content>
</ion-view>
