<!DOCTYPE html>
<html lang="zh-cn">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>{$CONF['shopTitle']['fieldValue']}后台管理中心</title>
      <link href="__PUBLIC__/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
      <link href="__ROOT__/Apps/Admin/View/css/AdminLTE.css" rel="stylesheet" type="text/css" />
      <!--[if lt IE 9]>
      <script src="__PUBLIC__/js/html5shiv.min.js"></script>
      <script src="__PUBLIC__/js/respond.min.js"></script>
      <![endif]-->
      <script src="__PUBLIC__/js/jquery.min.js"></script>
      <script src="__PUBLIC__/plugins/bootstrap/js/bootstrap.min.js"></script>
      <script src="__PUBLIC__/js/common.js"></script>
      <script src="__PUBLIC__/plugins/plugins/plugins.js"></script>
   </head>
 <body class='wst-page'>
      <form method="post" action='{:U("Admin/Orders/index")}'>

       <div class='wst-tbar'>
       订单号：<input type='text' name='orderNo' id='orderNo'/>
订单类型查询:<select name='goodsType' id='goodsType'>
             <option value='-9999'>请选择</option>
             <option value='1'>自驾游</option>
             <option value='2'>门票</option>
             <option value='3'>签证</option>
           </select>
  订单状态:<select name='orderStatus' id='orderStatus'>
             <option value='-9999'>请选择</option>
             <option value='0'>待付款</option>
             <option value='1'>待出发</option>
             <option value='2'>待评论</option>
             <option value='3'>已完成</option>
           </select>
       <button type="submit" class="btn btn-primary glyphicon glyphicon-search">查询</button> 
       </div>
       </form>
       <div class="wst-body"> 
         <table class="table table-hover table-striped table-bordered wst-list">
            <thead>
             <tr>
               <th width='2'>编号</th>
               <th width='25'>订单号</th>
               <th width='25'>用户</th>
               <th width='25'>订单类型</th>
               <th width='25'>订单金额</th>
               <th width='30'>使用优惠券金额</th>
               <th width='30'>支付类型</th>
               <th width='25'>成人数</th>
               <th width='25'>儿童数</th>
               <th width='30'>所用房间数</th>
               <th width='20'>出发时间</th>
               <th width='20'>结束时间</th>
               <th width='20'>下单时间</th>
               <th width='20'>订单状态</th>
             </tr>
           </thead> 
           <tbody>
                 <volist name="page['root']" id="vo" key='i'> 
                    <tr>
                      <td>{$i}</td>
                      <td>{$vo.orderNo}</td>
                      <td>{$vo.userName}</td>
                      <td><if condition="$vo.goodsType eq 1">自驾游</if>
                          <if condition="$vo.goodsType eq 2">门票</if>
                          <if condition="$vo.goodsType eq 3">签证</if>
                      </td>
                      <td><if condition="$vo.totalMoney gt 0">{$vo.totalMoney}元</if></td>
                      <td><if condition="$vo.zMoney gt 0">{$vo.zMoney}元</if></td>
                      <td>{$vo.payType}</td>
                      <td><if condition="$vo.adultNum gt 0">{$vo.adultNum}人 x {$vo.adultPrice}元/人</if></td>
                      <td><if condition="$vo.childNum gt 0">{$vo.childNum}人 x {$vo.childPrice}元/人</if></td>
                      <td><if condition="$vo.roomNum gt 0">{$vo.roomNum}间 x {$vo.roomPrice}元/间</if></td>
                      <td>{$vo.toTime}</td>
                      <td>{$vo.endTime}</td>
                      <td>{$vo.createTime}</td>
                      <td><if condition="$vo.orderStatus eq 0">待付款</if>
                          <if condition="$vo.orderStatus eq 1">待出发</if>
                          <if condition="$vo.goodsType eq 1"><if condition="$vo.orderStatus eq 2">待评论</if></if>
                          <if condition="$vo.orderStatus eq 3">已完成</if>
                      </td>
                    </tr>
                 </volist>
           </tbody>
             <tr>
                <td colspan='14' align='center'>{$page['pager']}</td>
             </tr>
        </table>
       </div>
   </body>
</html>