<nav class="navbar navbar-default header_index">
    <div class="containe bg_index">
        <img src="img/bg.jpg" alt="" width="500px">
    </div>
    <div class="container-fluid channel">
        <div class="navbar-header ">
            <a class="navbar-brand" href="#">
                <img alt="Brand" src="img/logo.png">
            </a>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">首页</a></li>
                <li><a href="#">联系我们</a></li>
                <li><a href="#">我的订单</a></li>
                <li><a href="#">papi酱</a></li>
                <li>
                    <a href="">
                        <i class="glyphicon glyphicon-user"></i>
                    </a>
                </li>
                <li id=""><a href="#">注册</a></li>
                <li id=""><a href="#">登录</a></li>
            </ul>
        </div>
        <div class="channel_title">
            <h2>5月一日准时开售6月产品</h2>
            <p>自在的旅游</p>
        </div>
    </div>
</nav>