<nav class="navbar navbar-default header_index">
    <div class="containe bg_index">
        <img src="/Public/app/img/bg1.jpg" alt="" width="500px">
    </div>
    <div class="container-fluid channel">
        <div class="navbar-header ">
            <a class="navbar-brand" href="#">
                <img alt="Brand" src="/Public/app/img/logo.png">
            </a>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#/">首页</a></li>
                <li><a href="#">联系我们</a></li>
                <li><a href="#">我的订单</a></li>
                <li><a href="#">papi酱</a></li>
                <li>
                    <a href="">
                        <i class="glyphicon glyphicon-user"></i>
                    </a>
                </li>
                <li id=""><a href="Tpl/register.html">注册</a></li>
                <li id=""><a href="#/login">登录</a></li>
            </ul>
        </div>
        <div class="channel_title">
            <h2>5月一日准时开售6月产品</h2>
            <p>自在的旅游</p>
        </div>
    </div>
</nav>
<div class="searchfor">
    <div class="searchforname">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="搜索">
          <span class="input-group-btn">
            <button class="btn btn-default " type="button">
            <span class="glyphicon glyphicon-search"></span>
            </button>
          </span>
        </div>
    </div>
</div>

<div class="container content">
    <div class="zjy_list">
         <div class="zjy">
             <div class="imgplace">
                <img src="/Public/app/img/1.jpg" alt="">
                 <div class="countlove"><i class="glyphicon glyphicon-star"></i>&nbsp;<span>2360</span></div>
                 <div class="zjy_desc">
                     <p id="zjy_desc1">中国 西藏</p>
                     <!-- <p id="zjy_desc2">中国 西藏</p> -->
                     <p id="zjy_desc3">最古老的旅游圣地</p>
                 </div>
             </div>
             <div class="row descplace">
                 <div class="col-md-8 descplaceleft">
                     <!-- <div class="descplaceeft"> -->
                         <p><i class="glyphicon glyphicon-star" style=""></i>五月一日准时开售6月产</p>
                        <p><i class="glyphicon glyphicon-star" style=""></i>五月一日准时开售6月产</p>
                        <p><i class="glyphicon glyphicon-star" style=""></i>五月一日准时开售6月产</p>
                     <!-- </div> -->
                 </div>
                 <div class="col-md-4 descplaceright">
                     <div class="descplacerightcon">
                         <div class="condesc"><span>6晚7天跨境自驾自由行</span></div>
                         <span class="conprivce">5612</span>元/人
                     </div>
                 </div>
             </div>
         </div>
         <div class="zjy">
             <div class="imgplace">
                <img src="/Public/app/img/1.jpg" alt="">
                 <div class="countlove"><i class="glyphicon glyphicon-star"></i>&nbsp;<span>2360</span></div>
                 <div class="zjy_desc">
                     <p id="zjy_desc1">中国 西藏</p>
                     <!-- <p id="zjy_desc2">中国 西藏</p> -->
                     <p id="zjy_desc3">最古老的旅游圣地</p>
                 </div>
             </div>
             <div class="row descplace">
                 <div class="col-md-8 descplaceleft">
                         <p><i class="glyphicon glyphicon-star" style=""></i>五月一日准时开售6月产</p>
                        <p><i class="glyphicon glyphicon-star" style=""></i>五月一日准时开售6月产</p>
                        <p><i class="glyphicon glyphicon-star" style=""></i>五月一日准时开售6月产</p>
                 </div>
                 <div class="col-md-4 descplaceright">
                     <div class="descplacerightcon">
                         <div class="condesc"><span>6晚7天跨境自驾自由行</span></div>
                         <span class="conprivce">5612</span>元/人
                     </div>
                 </div>
             </div>
         </div>
         <div class="zjy">
             <div class="imgplace">
                <img src="/Public/app/img/1.jpg" alt="">
                 <div class="countlove"><i class="glyphicon glyphicon-star"></i>&nbsp;<span>2360</span></div>
                 <div class="zjy_desc">
                     <p id="zjy_desc1">中国 西藏</p>
                     <p id="zjy_desc3">最古老的旅游圣地</p>
                 </div>
             </div>
             <div class="row descplace">
                 <div class="col-md-8 descplaceleft">
                         <p><i class="glyphicon glyphicon-star" style=""></i>五月一日准时开售6月产</p>
                        <p><i class="glyphicon glyphicon-star" style=""></i>五月一日准时开售6月产</p>
                        <p><i class="glyphicon glyphicon-star" style=""></i>五月一日准时开售6月产</p>
                 </div>
                 <div class="col-md-4 descplaceright">
                     <div class="descplacerightcon">
                         <div class="condesc"><span>6晚7天跨境自驾自由行</span></div>
                         <span class="conprivce">5612</span>元/人
                     </div>
                 </div>
             </div>
         </div>
    </div>
</div>

<div class="container searchmore">
    <div class="searchmoreb">
        <span class="searchmoret"><a href="">搜索更多</a></span>
    </div>
</div>

<footer id="footer">
    <div class="foot_bg">
        <img src="/Public/app/img/slide2.jpg" alt="" >
    </div>
        <div class="container foot_con" >
            <div class="row">
               <div class="col-md-2">
                    <h4>为什么选择自由旅行</h4>
                    <ul>
                        <li>您的自由行有保障吗？</li>
                        <li>您的旅游省心吗？</li>
                        <li>您的旅游升级了吗</li>
                        <li>7*24小时管家服务</li>
                        <li>更多</li>
                    </ul>
                </div>
                <div class="col-md-2">
                    <h4>常见问题与答案</h4>
                    <ul>
                        <li>基础类</li>
                        <li>签证类</li>
                        <li>机票类</li>
                        <li>酒店类</li>
                        <li>更多</li>
                    </ul>
                </div>
                <div class="col-md-2">
                    <h4>合作信息</h4>
                    <ul>
                        <li>供应商合作</li>
                        <li>大客户采购</li>
                        <li>品牌渠道合作</li>
                        <li>合作伙伴</li>
                        <li>更多</li>
                    </ul>
                </div>
                <div class="col-md-2">
                    <h4>公司信息</h4>
                    <ul>
                        <li>关于自由旅行</li>
                        <li>创始团队</li>
                        <li>加入我们</li>
                        <li>法律声明</li>
                        <li>更多</li>
                    </ul>
                </div>
                <div class="col-md-4">
                    
                    <h4>为什么选择自由旅行</h4>
                    <div class="qqwxwb">
                        <img id="erweimaqq" src="/Public/app/img/01.png" alt="">
                        <img id="erweimawx" src="/Public/app/img/02.png" alt="">
                        <img id="erweimawb" src="/Public/app/img/03.png" alt="">
                    </div>  
                    <img id="erweima" src="/Public/app/img/erweima.png" alt="" width="150px" style="display: none;">
                    <ul>
                        <li>版权所有 昆明春秋国际旅行社有限公司</li>
                        <li>滇ICP证 16097834</li>
                        <li>2015 ALLcopyrihts by Kunming spring tour CO,ltd</li>
                    </ul>
                </div>
            </div>
        </div>   
</footer>