<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>确认支付</title>
    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/custom.css" rel="stylesheet" type="text/css" media="all" />
    <script src="lib/ionic/js/ionic.bundle.min.js"></script>
    <script type="text/javascript" src="js/jquery-1.8.0.min.js"></script>
    <script src="js/script.js"></script>

</head>

<body ng-app="myApp">
    <ion-header-bar class="bar bar-light">
        <div id="myuser" class="" style="background:#F5F5F5;width: 80px;
      text-align: center; display:  none;
      height: 80px;float: right;    right: 0px;    margin-top: 40px;
      position: fixed;">
            <div class="" style="line-height: 40px;color:#72C7DD;">
                <a href="user.html">我的账户</a>
            </div>
            <div class="" style="line-height: 40px;color:#72C7DD;">
                <a href="myorder.html">我的订单</a>
            </div>
        </div>
        <a class="button button-clear" href="index.html">
            <img src="img/ionic.png" height="32px" style="  color:#6CC5DC;">
        </a>
        <a class="button button-clear icon ion-navicon-round" onclick="user()"></a>
    </ion-header-bar>
    <!-- content -->
    <ion-content id="content-index" class=" scroll-content has-header" style="    background: #f5f5f5;">
        <div class="row" style="background: #f5f5f5; ">
        <div class="manyps" style="padding: 8px; background:#fff;">
                <p>年轻人的第一次跨境自驾旅行</p>
                <p>磨憨-清迈</p>
                <p>出发时间<span>2016-12-05 15:55</span></p>
                <p>成人<span>2</span></p>
                <p>儿童<span>1</span></p>
                <p class="pricecolor" style="font-size:130%">订单总价<span>2156</span></p>
        </div>
        </div>

		<div class="list list-inset" ng-controller="MainCtrl">
		<div class="item">
                    选择支付方式
                </div>
			<ion-radio ng-repeat="item in serverSideList "
                   ng-value="item.value"
                   ng-click="serverSideChange(item)">
	          <div width="100%">
                <img style="float:left; margin: 0 5px;" src="{{ item.imgsrc }}" alt="" width="40px" >
                <div style="line-height: 15px;">
                    <h3 ng-bind="item.text"></h3><p ng-bind="item.desc"></p>
                </div>
            </div>
	        </ion-radio>
		</div>
		<input id="payWay" type="hidden" value="0"/>
        <div class="row" style="padding:10px;">
            <div style="    border: 3px solid #69E0F9;width: 20px;height: 20px;padding: 2px;">
                <div style="    background: #498CD0;   width: 10px; height: 10px;">
                </div>
            </div>
            <p style="line-height: 22px;padding:0 10px;">本人及订单包含人员已阅读并同意《产品订购协议》</p>
        </div>
        <div class="row " style="background:#fff ;    font-size: 20px; ">
            <div class="col col-67">
                <p class="pricecolor" style="margin: 0; line-height: 50px; font-size: 25px;">价格&nbsp;¥&nbsp;<span>1520</span></p>
            </div>
            <div class="col col-33" style="background:#F77462; text-align: center;">
                <a style="display: block;    text-decoration: none;">
                    <span style="margin: 0; line-height: 50px;color: #fff;">立即支付</span>
                </a>
            </div>
        </div>
    </ion-content>
    <script>
    angular.module("myApp", ["ionic"])
    .controller('MainCtrl', function($scope) {
    var ua = navigator.userAgent.toLowerCase();  
    if(ua.match(/MicroMessenger/i)=="micromessenger") {  
        $scope.serverSideList = [
        { text: "微信",imgsrc:"img/weixin.png",desc:"推荐支付宝的用户", value: "2" },
        { text: "银联",imgsrc:"img/yinlian.png",desc:"信用卡、网银、储蓄卡", value: "3" }
      ];
    } else {
        $scope.serverSideList = [
        { text: "支付宝",imgsrc:"img/zhifubao.png",desc:"推荐支付宝的用户",value: "1" },
        { text: "银联",imgsrc:"img/yinlian.png",desc:"信用卡、网银、储蓄卡", value: "3" }
      ];
    }
  $scope.serverSideChange = function(item) {
    console.log("Selected Serverside, text:", item.text, "value:", item.value);
    $("#payWay").val(item.text+","+item.value);
  };

});
    </script>
</body>

</html>
