<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>
    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/custom.css" rel="stylesheet" type="text/css" media="all" />
    <script src="lib/ionic/js/ionic.bundle.min.js"></script>
    <script type="text/javascript" src="js/jquery-1.8.0.min.js"></script>
    <script type="text/javascript" src="js/jquery.spinner.js"></script>
    <link rel="stylesheet" href="css/jquery.spinner.css" />
    <script src="js/script.js"></script>
</head>

<body ng-app="myApp" ng-controller="MainCtrl">
    <ion-header-bar class="bar bar-light">
        <div id="myuser" style="display: none;">
            <div class="" style="">
                <a href="user.html">我的账户</a>
            </div>
            <div class="" style="line-height: 40px;color:#72C7DD;">
                <a href="myorder.html">我的订单</a>
            </div>
        </div>
        <a class="button button-clear" href="index.html">
            <img src="img/ionic.png" height="32px" style="  color:#6CC5DC;">
        </a>
        <a class="button button-clear icon ion-navicon-round" onclick="user()"></a>
    </ion-header-bar>
    <!-- content -->
    <ion-content id="content-index" overflow-scroll="false" class=" scroll-content has-header" style="    background: #f5f5f5;">
        <div class="card">
            <div class="item item-text-wrap" style="background:#6CC5DC;color:#fff;">
                泰国老挝签证基本信息说明
            </div>
            <div class="item item-text-wrap">
                签证类型
                <span style="float:right;">旅游签</span>
            </div>
            <div class="item item-text-wrap">
                有效期
                <span style="float:right;">停留期30-60天</span>
            </div>
            <div class="item item-text-wrap">
                入境次数
                <span style="float:right;">单次</span>
            </div>
        </div>
        <div class="card" id="visacard" style="">
            <div class="item item-text-wrap" style="background:#6CC5DC;color:#fff;">
                办理泰国老挝签证所需资料
            </div>
            <div class="item item-text-wrap" style="padding:0;">
                <div style="padding:10px;">
                    <p>您只需准备1.【护照原件】2.【照片四张】3.【身份证】</p>
                    <p>
                    您只需准备1.【护照原件】2.【照片四张】3.【身份
 证 正反面复印件一份】
 护照完整无损、无水渍（请去掉护照套）
 
【护照原件】
 护照有效期大于6个月、成人儿童一样
 至少需有4页完整的空白签证页（不包含备注页）
 
【照片】
 证件照两张 规格35MMX45MM
 本人近6个月内彩色白底照片4张
 五官端正清晰、耳朵外露、不露肩膀、不能戴配饰
 请用圆珠笔在照片背面写上您的名字
 
 建议：在送交或邮寄出护照前请复印或拍摄护照重要
 页面、以备不时之需！
 
 以下情况不可办理：
 由于客人自身原因护照有DT记录/两次或多次借证记
 录/境外延期被罚款/假签证等（需要退回订单并且邮
 费自理、敬请谅解！）
                    </p>
                </div>
                <span style="background:#FFD679;width:100%;display:block; padding:3px;">办理时段</span>
                <div style="padding:10px;">
                    <p style="color:#FFD679;">
                        特别提示：由于两国签证需分别办理，请于出发日期前15天递交或邮寄所需资料
                    </p>
                </div>
                <span style="background:#6CC5DC;width:100%;display:block; padding:3px;">您可以选择以下三种方式办理：</span>
                <div class="list">
                    <label class="item item-input item-floating-label">
                        <div style="padding:10px;">
                            <p style="">
                                1.特别提示：由于两国签证需分别办理，请于出发日期前15天递交或邮寄所需资料
                            </p>
                        </div>
                    </label>
                    <!-- <hr> -->
                    <label class="item item-input item-floating-label">
                        <div style="padding:10px;">
                            <p style="">
                                2.特别提示：由于两国签证需分别办理，请于出发日期前15天递交或邮寄所需资料
                            </p>
                        </div>
                    </label>
                    <!-- <hr> -->
                    <label class="item item-input item-floating-label">
                        <div style="padding:10px;">
                            <p style="">
                                3.特别提示：由于两国签证需分别办理，请于出发日期前15天递交或邮寄所需资料
                            </p>
                            <!-- <div class="row">
                            </div> -->
                        </div>
                    </label>
                    <!-- <hr> -->
                    <!-- <label class="item item-floating-label "> -->
                        <div class="row" style="padding:6px 0 5px 16px;">
                            <div class="" style="width:33%; float:left;">
                                数量
                            </div>
                            <div class=" " style="width:33%; float:center;">
                                <input id="visaNum" type="text" class="spinnerExample" />
                            </div>
                            <div class="" style="width:33%; float:left; text-align: right;">
                                <span id="manPrice" style="color:#F88B7D">1234</span>元/份
                            </div>
                        </div>
                    <!-- </label> -->
                    <label class="item item-input item-floating-label">
                        <div style="padding:10px 10px 10px 0px;">
                            总价格<span style="float:right; color:#F88B7D">￥800</span>
                        </div>
                    </label>
                    <label  class="item item-input item-floating-label defaultaddr" style="">
                        <!-- <div class=" "> -->
                            <h2>使用默认地址</h2>
                            <span>张三</span>
                            <span style="float:right;">
                            13388768745
                            </span>
                            <p><span>asdf@23.com</span></p>
                            <p><span>上海sd卡减肥拉斯看到烧烤、</span></p>
                            <!-- </div> -->
                            <!-- <div ng-click="resizeContent()" class="item item-divider"> -->
                          
                            <!-- </div> -->
                    </label>
                    <!-- <hr> -->
                    <!-- <div class="list"> -->
                    <label ng-click="resizeContent()" class="item item-input item-floating-label " >
                        <span><i  id="uselinkman" class="icon ion-android-radio-button-off placeholder-icon" style="color:#12f;"></i>添加新地址</span>
                    </label>
                    <label class="item item-input item-floating-label linkmanfrom" style="display:none;">
                        <span class="input-label has-input">联系人</span>
                        <input type="text" placeholder="请输入联系人姓名">
                    </label>
                    <label class="item item-input item-floating-label linkmanfrom" style="display:none;">
                        <span class="input-label has-input">联系电话</span>
                        <input type="text" placeholder="请输入联系人电话">
                    </label>
                    <label class="item item-input item-floating-label linkmanfrom" style="display:none;">
                        <span class="input-label has-input">您的地址</span>
                        <input type="text" placeholder="请输入您的地址">
                    </label>
                    <label class="item item-input item-floating-label" style="text-align: center;">
                        <p>付款后请将所需资料仔细检查备齐后寄送至：</p>
                        <p>昆明市穿金路白汁小区11-3栋</p>
                        <p>昆明春秋国际旅行社有限公司 泰老签（收）</p>
                        <p>13888222888 0871-65096386</p>
                        <p>邮费自理</p>
                    </label>
                </div>
            </div>
        </div>
          <div class="row">
            <div style="width:100%;">
                <a href="orderConfirm.html">
                    <button class="button button-block " style="background:#F77462;color:#fff;">下一步</button>
                </a>
            </div>
        </div>
    </ion-content>
    <script>
   var app = angular.module("myApp", ["ionic"]);
    app.controller('MainCtrl', ['$scope', '$ionicScrollDelegate', function($scope, $ionicScrollDelegate) {
        $scope.resizeContent = function() {
            $ionicScrollDelegate.resize();
        };
    }]);

    $('.spinnerExample').spinner({});

$("#uselinkman").parent().parent().click(function() {
        if ($("#uselinkman").hasClass("ion-android-radio-button-off")) {
            $("#uselinkman").addClass("ion-android-checkmark-circle");
            $("#uselinkman").removeClass("ion-android-radio-button-off");
            $(".linkmanfrom").show();
            $(".defaultaddr").hide();
        } else {
            $("#uselinkman").addClass("ion-android-radio-button-off");
            $("#uselinkman").removeClass("ion-android-checkmark-circle");
            $(".linkmanfrom").hide();
            $(".defaultaddr").show();
        }
    });
    </script>
</body>

</html>
